<h2 mat-dialog-title>Order Details</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="orderviewForm">
        <h3>Member Details</h3>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <table class="order-table">
                <tr>
                    <td>Name</td>
                    <td> : </td>
                    <th>{{data.fname}} {{data.lname}}</th>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> : </td>
                    <th>{{data.email}}</th>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td> : </td>
                    <th>{{data.mobile}}</th>
                </tr>
                <tr>
                    <td>Address</td>
                    <td> : </td>
                    <th>{{data.address}}</th>
                </tr>
                <tr>
                    <td>City</td>
                    <td> : </td>
                    <th>{{data.city}}</th>
                </tr>
                <tr>
                    <td>State</td>
                    <td> : </td>
                    <th>{{data.state}}</th>
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td> : </td>
                    <th>{{data.pincode}}</th>
                </tr>
            </table>
        </div>
        <br/>
        <h3>Order Details</h3>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center" *ngIf="data.items.length == 0">
            <table class="table-order-1">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Grand Total</th>
                </tr>
                <tr>
                    <td class="product-cart-image"><img src="assets/product001.png" alt="product image" /></td>
                    <td>RS. 8000</td>
                    <td>{{data.quantity}}</td>
                    <td>RS. {{data.grand_total}}</td>
                </tr>
            </table>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center" *ngIf="data.items.length > 0">
            <table class="table-order-1">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Grand Total</th>
                </tr>
                <tr *ngFor="let item of data.items">
                    <td>{{item.product_name}}</td>
                    <td>RS. {{item.price}}</td>
                    <td>{{item.product_qty}}</td>
                    <td>RS. {{data.total}}</td>
                </tr>
                <tr>
                    <td colspan="3">Tax</td>
                    <td>Rs. {{data.tax_amt}}</td>
                </tr>
                <tr>
                    <td colspan="3">Grand Total</td>
                    <td>Rs. {{data.grand_total}}</td>
                </tr>
            </table>
        </div>
        <br/>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
        </div>
    </form>
</mat-dialog-content>