<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <!-- <div class="add-btn-container">
            <button mat-raised-button color="primary"><mat-icon>add</mat-icon> Order</button>
        </div> -->
        <mat-list>
            <ng-container *ngFor="let data of result">

                <mat-list-item>
                    <button mat-icon-button aria-label="label" (click)="openDeliverBoyPopup(data.order_id, 'result') ">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delivery Boy">directions_run</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="OrderView(data.order_id, 'result') ">
                        <mat-icon #tooltip="matTooltip" matTooltip="Order View">visibility</mat-icon>
                    </button>
                    <!-- <img matListAvatar class="cursor" src="{{image_url}}{{data.imageurl}}" *ngIf="data.imageurl && data.imageurl != ''" alt="image" (click)="imageView(data, 'preview')" /> -->
                    <div class="" mat-line>
                        <h4 mat-line class="order-detail-title">ஆர்டர் நம்பர் : <strong class="clr-blue">{{data.order_id}}  (₹{{data.total}})</strong> <span *ngIf="data.status == 'பெண்டிங்'"><img src="assets/new.gif" matListAvatar alt=""></span></h4>
                    </div>
                    <p mat-line>டெலிவரி நிலை : <strong class="clr-blue">{{data.status}}</strong></p>
                    <p mat-line><mat-icon class="icon-position">person</mat-icon> : <strong class="clr-blue">{{data.user}}</strong></p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>