.box-1 {

    /* border: 1px solid black; */
    padding: 15px 50px;
    background: #eee;
    box-shadow: 0px 0px 8px 5px #d3d0d0;
    /* outline: 1px solid #cc8939; */
    border-radius: 22px;
    height: 382px;

}
.color-white {
    color: #fff !important; 
}

.read     {
    padding: 12px 30px;
    background: #ffffff;
    border-radius: 12px;
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
}
.read:hover    {
/*    transform: scale(1.1);*/
    transition: 0.2s all linear;
    color: #fff;
    background: #000;
}
.pic-1 {

    border: 1px solid black;
    height: 150px;
    padding: 10px;

}
.box-2 {
    border: 1px solid #c9c8c8;
    margin-top: 3px;
    padding: 20px;
    height: 460px;
    background: rgba(190, 190, 190, 0.12156862745098039);
}

.footer-contact-info p {
    position: relative;
    padding: 0px 19px 0px 22px;
    margin-top: -20px;
    line-height: 26px;
}

.v-list-v2 li ul li {
    line-height: 6px;
}

.border-line {
    border: 1px solid #fff;
    padding: 20px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.width-img {
    width: 100%;
}
.box-3 {
    padding: 20px;
    /* border: 1px solid #eee; */
    background: #6b90f8;
    border-radius: 25px 1px 25px 1px;
    margin-top: 30px
}
.box-3:hover {
    padding: 20px;
    /* border: 1px solid #eee; */
    background: #527af1;
    border-radius: 0px 0px 0px 0px; 
    box-shadow: -1px -1px 7px 3px #2d52bb6b;
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.height-185 {
    height: 175px !important;
}
.padding-t-50 {
    padding-top: 50px !important;
}

.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
.testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
}
.seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}
.padding-t-10 {
    padding: 10px 0px 0px 0px ;
}