@media (min-width: 385px) and (max-width: 445px) {
    .navbar-header img {
        width: 80%;
    }
    .banner {
        margin-top: 83px !important;
    }
    .top-nav {
        margin-top: -83px !important;
    }
}

@media screen and (max-width: 768px) {
    .faq-info .nav-tabs li {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}

@media (min-width: 1080px) and (max-width: 1253px) {
    fieldset {
        padding: 3em 3em !important;
    }
}
@media (min-width: 320px) and (max-width: 991px) {
    .tabcontent {
        height: auto !important;
    }
}