/*
#header .dropdown-menu {
    right: 0;
    left: auto;
}

#header.navbar {
    margin: 0;
    border: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #e2e2e2;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}*/

header {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.empty-band {
    background-color: #878787;
    padding: 10px;
}