.goto-here .button {
    transition: 0.3s;
}

.goto-here .title {
/*    font-family: 'isMail_0', sans-serif;*/
    font-weight: normal;
    font-size: 18px;
}

.goto-here .complete-title {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.goto-here .subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.goto-here .animated {
    transition-duration: 0.15s;
}

.goto-here .questionBox {
    /* max-width: 30rem; */
    width: 50%;
    /* min-height: 30rem; */
    background: #fafafa;
    position: relative;
    display: flex;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.goto-here .questionBox .question-header {
    background: rgba(0, 0, 0, 0.025);
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
}

.goto-here .questionBox .question-header h1 {
    font-weight: 600;
    margin-bottom: 0rem !important;
    font-size: 25px;
    text-align: center;
    float: left;
    font-family: sans-serif;
}

.goto-here .questionBox .question-header h4 {
    font-weight: 500;
    margin-bottom: 0rem !important;
    font-size: 20px;
}

.goto-here .questionBox .question-header .progressContainer {
    width: 100%;
    margin: 0 auto;
}

.goto-here .questionBox .question-header .progressContainer>progress {
    margin: 17px 0px 5px 15px;
    border-radius: 5rem;
    overflow: hidden;
    border: none;
    color: #3d5afe;
    width: 50%;
    height: 5px;
    text-align: center;
    float: left;
}

.goto-here .questionBox .question-header .progressContainer>progress::-moz-progress-bar {
    background: #3d5afe;
}

.goto-here .questionBox .question-header .progressContainer>progress::-webkit-progress-value {
    background: #3d5afe;
}

.goto-here .questionBox .question-header .progressContainer>p {
    margin: 0;
    margin-top: 0.5rem;
}

.goto-here .questionBox .titleContainer {
    text-align: left;
    margin-left: 12px;
    padding: 0.5rem;
    margin-bottom: 0px;
    overflow: auto;
}

.goto-here .questionBox .quizForm {
    display: block;
    white-space: normal;
    height: 100%;
    width: 100%;
}

.goto-here .questionBox .quizForm .quizFormContainer {
    height: 100%;
    margin: 15px 18px;
}

.goto-here .questionBox .quizForm .quizFormContainer .field-label {
    text-align: left;
    margin-bottom: 0.5rem;
}

.goto-here .questionBox .quizCompleted {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
}

.goto-here .questionBox .quizCompleted>.icon {
    color: #ff5252;
    font-size: 5rem;
}

.goto-here .questionBox .quizCompleted>.icon .is-active {
    color: #00e676;
}

.goto-here .questionBox .questionContainer {
    white-space: normal;
    height: 100%;
    width: 100%;
}

.goto-here .questionBox .questionContainer .optionContainer {
    margin-top: 12px;
    flex-grow: 1;
    padding: 0px 0 20px;
}

.goto-here .questionBox .questionContainer .optionContainer .option {
    border-radius: 290486px;
    padding: 5px 20px;
    margin: 0 18px;
    margin-bottom: 12px;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.85);
    border: transparent 1px solid;
    font-size: 15px;
/*    font-family: 'isMail_0', sans-serif;*/
}

.goto-here .questionBox .questionContainer .optionContainer .option.is-selected {
    border-color: rgb(130, 174, 70);
    background-color: rgb(130, 174, 70);
    color: #fff;
}

.goto-here .questionBox .questionContainer .optionContainer .option:hover {
    background-color: rgb(70, 136, 71);
    color: #fff;
}

.goto-here .questionBox .questionContainer .optionContainer .option:active {
    transform: scaleX(0.9);
    border-color: rgb(130, 174, 70);
    background-color: rgb(130, 174, 70);
    color: #fff;
}

#two:focus {
    border-color: rgb(130, 174, 70);
    background-color: rgb(130, 174, 70);
    color: #fff;
}

.goto-here .questionBox .questionContainer .questionFooter {
    background: rgba(0, 0, 0, 0.025);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    align-self: flex-end;
    padding: 0;
    color: #fff;
    overflow: auto;
}

.goto-here .questionBox .questionContainer .questionFooter .pagination {
    margin: 15px 25px;
}

.goto-here .pagination {
    display: flex;
    justify-content: space-between;
}

.goto-here .button {
    padding: 0.2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    background: #30445c;
}

.goto-here .button:hover {
    cursor: pointer;
    background: #eceff1;
    border-color: rgba(0, 0, 0, 0.25);
}

.goto-here .button.is-active {
    background: #30445c;
    color: white;
    border-color: transparent
}

.goto-here .button.is-active:hover {
    background: #eceff1;
    color: #F03C02;
    border-color: rgba(0, 0, 0, 0.25);
}




.goto-here .not-sure-button {
    padding: 0.2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    background: yellow;
    color:#000;
}

.goto-here .not-sure-button:hover {
    cursor: pointer;
    background: #eceff1;
    border-color: rgba(0, 0, 0, 0.25);
}

.goto-here .not-sure-button.is-active {
    background: yellow;
    color: #000;
    border-color: transparent
}

.goto-here .not-sure-button.is-active:hover {
    background: #eceff1;
    color: #F03C02;
    border-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 769px) {
    .goto-here .questionBox {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .goto-here .questionBox .questionContainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .goto-here .sidebar {
        height: auto !important;
        border-radius: 6px 6px 0px 0px;
    }
    .goto-here .questionBox {
        width: 100%;
    }
    .quiz-section {
        padding: 150px 0 50px !important;
    }
    .quiz-question-section {
        width: 100% !Important;
    }
}

@media screen and (max-width: 767px) {
    .goto-here .title {
        font-size: 18px;
        margin-bottom: 5px;
    }
}

.quiz-section {
    padding: 120px 0 50px;
}

.goto-here .button1 {
    padding: 0.3rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    background: #F03C02;
    color: #fff;
    cursor: pointer;
}

.goto-here .button1:hover {
    padding: 0.2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    background: #fafafa;
    color: #F03C02;
    text-decoration: none;
}