@media screen and (max-width: 460px) {
    .sticky {
        display: block;
    }
    .booking-form input {
        width: 100% !important;
    }
    .ui-datepicker-calendar td {
        padding: 0 !important;
    }
    .banner-text h2 {
        line-height: 0;
        top: 30%;
        left: 8%;
        font-size: 40px;
        letter-spacing: 10px;
    }
    .banner-text h1 {
        line-height: 0.5;
        top: 53%;
        left: 12px;
        letter-spacing: 0px;
        font-size: 40px;
    }
    .banner-text h1 span {
        font-size: 50px;
        font-family: "Smithen Regular";
        /*        font-size: 110px;*/
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        right: -30px;
        bottom: 21px;
    }
    .p-90 {
        padding-top: 87px !important;
    }
    .hover-box-shadow .contact p {
        left: 30px !important;
    }
    .time select {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .pages li {
        width: 100% !important;
    }
    #toggle {
        right: 20px !important;
        top: 0px !important;
    }
    #menu {
        top: 64px !important;
        /*        right: -32px !important;*/
        right: -16px !important;
        width: 111% !important;
    }
    .logo {
        width: 80%;
    }
    .sticky .navbar {
        padding: 0 20px;
    }
    .contact-bg {
        padding: 25px;
    }
    .head {
        padding: 10px 16px;
    }
    .br-icon-2 {
        display: block;
    }
    .br-icon-1 {
        display: none;
    }
    .booking-form input {
        margin: 10px 0px !important;
    }
    .banner-lg {
        display: none;
    }
    .banner {
        display: block !important;
        padding-top: 74px;
        height: 230px;
    }
    .banner li .slick-slide {
        margin: 0 !important;
    }
    .bannerSlider .slide__text {
        width: 0 !important;
    }
    .section-title .display-4 {
        margin-bottom: 40px;
    }
    .contact-bg .pt-25 {
        padding-top: 15px !important;
    }
    .page-footer {
        margin-bottom: 20px !important;
    }
    .bg-position {
        background-position: right !important;
    }
    .banner-text {
        height: 50% !important;
    }
    .tensorsite-card--clip .tensorsite-content__image-wrapper {
        height: 206px !important;
    }
    .tensorsite-content__clip-shape {
        margin-top: -54px !important;
    }
}

@media (min-width: 390px) and (max-width: 599px) {
    .tensorsite-content__clip-shape {
        margin-top: -60px !important;
    }
    .tensorsite-card {
        height: 290px !important;
    }
}

@media (min-width: 599px) and (max-width: 767px) {
    .tensorsite-content__clip-shape {
        margin-top: -79px !important;
    }
}

@media screen and (max-width: 599px) {
    .slider img {
        width: 100% !important;
    }
    .training-topic-h5 h5 {
        width: 100% !important;
    }
    button.slick-prev {
        display: none !important;
    }
    button.slick-next {
        display: none !important;
    }
}

@media screen and (min-width: 991px) {

}
@media screen and (max-width: 991px) {
    #navigation-menu {
        display: none !important;
    }
    #toggle {
        display: block !important;
    }
    .tensorsite-content__clip-bg {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .training {
        transform: rotate(0deg) !important;
    }
    .training ul li {
        padding: 10px !important;
    }
    /*    .tensorsite-content__clip-shape {
            margin-top: -19px !important;
        }*/
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

@media screen and (max-width: 991px){
    .box{
        width: 80%;
    }
    .popup{
        width: 80%;
    }
    .booking-form input {
        width: 100% !important;
    }
    .time select {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .dropdown-item {
        color: #ffffff;
    }
    .bg-gradient {
        display: none !important;
    }
    .mark, mark {
        display: none !important;
    }
    .banner {
        display: block !important;
    }
    .banner-lg {
        display: none !important;
    }
    .tensorsite-card--clip .tensorsite-content__image-wrapper {
        height: 150px !important;
    }
/*    #toggle {
        right: 0 !important;
        top: 15px !important;
    }*/
}

@media (min-width: 461px) and (max-width: 768px) {
    .banner-text h1 {
        font-size: 70px !important;
        top: 40% !important;
    }
    .banner-text h1 span {
        font-size: 70px !important;
    }
}



@media (min-width: 461px) and (max-width: 767px) {
    .p-0 {
        padding-top: 110px !important;
        padding: 0;
    }
    #menu {
        top: 95px !important;
    }
}