@media (min-width: 320px) and (max-width: 395px) {
    .banner-text h2 {
        font-size: 30px !important;
    }
    .banner-text span {
        font-size: 30px !important;
        top: 26% !important;
    }
    .banner-text h1 {
        top: 48% !important;
        font-size: 30px !important;
    }
    #time-picker input {
        width: 30% !important;
    }
}

@media screen and (max-width: 460px) {
    .sticky {
        display: block;
    }
    .booking-form input {
        width: 100% !important;
    }
    .ui-datepicker-calendar td {
        padding: 0 !important;
    }
    .banner-text h2 {
        line-height: 0;
        top: 30%;
        text-align: center;
        font-size: 40px;
        letter-spacing: 0;
    }
    .banner-text h1 {
        line-height: 0.5;
        top: 55%;
        letter-spacing: 0px;
        font-size: 40px;
    }
    .banner-text span {
        font-size: 40px;
        font-family: "Smithen Regular";
        color: #fff;
        letter-spacing: 1px;
        position: absolute;
        left: 8%;
        top: 25%;
    }
    .p-90 {
        padding-top: 87px !important;
    }
    .hover-box-shadow .contact p {
        left: 30px !important;
    }
    .time select {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .pages li {
        width: 100% !important;
    }
    #toggle {
        right: 20px !important;
        top: 0px !important;
    }
    #menu {
        top: 64px !important;
        /*        right: -32px !important;*/
        right: -16px !important;
        width: 111% !important;
    }
    .logo {
        width: 80%;
    }
    .sticky .navbar {
        padding: 0 20px;
    }
    .contact-bg {
        padding: 25px;
    }
    .head {
        padding: 10px 16px;
    }
    .br-icon-2 {
        display: block;
    }
    .br-icon-1 {
        display: none;
    }
    .booking-form input {
        margin: 10px 0px !important;
    }
    .banner-lg {
        display: none;
    }
    .banner {
        display: block !important;
        padding-top: 74px;
        height: 230px;
    }
    .banner li .slick-slide {
        margin: 0 !important;
    }
    .bannerSlider .slide__text {
        width: 0 !important;
    }
    .section-title .display-4 {
        margin-bottom: 40px;
    }
    .contact-bg .pt-25 {
        padding-top: 15px !important;
    }
    .page-footer {
        margin-bottom: 20px !important;
    }
    .bg-position {
        background-position: right !important;
    }
    .banner-text {
        height: 50% !important;
    }
    .tensorsite-card--clip .tensorsite-content__image-wrapper {
        height: 206px !important;
    }
    .tensorsite-content__clip-shape {
        margin-top: -54px !important;
    }
    .who-we-are img {
        width: 100% !important;
    }
    .table-alignment td {
        font-size: 15px !important;
    }
    .banner-text h2 {
        font-size: 40px !important;
    }
    .banner-text span {
        font-size: 25px !important;
    }
    .banner-text h1 {
        font-size: 35px !important;
        top: 37% !important;
    }
}

@media screen and (max-width: 600px) {
    .datepicker-modal {
        max-height: 100% !important;
        box-shadow: none !important;
    }
}


@media (min-width: 390px) and (max-width: 599px) {
    .tensorsite-content__clip-shape {
        margin-top: -60px !important;
    }
    .tensorsite-card {
        height: 290px !important;
    }

    #time-picker input {
        width: 42% !important;
    }
}

@media (min-width: 599px) and (max-width: 767px) {
    .tensorsite-content__clip-shape {
        margin-top: -79px !important;
    }
    #time-picker input {
        width: 35% !important;
    }
}

@media screen and (max-width: 599px) {
    .slider img {
        width: 100% !important;
    }
    .training-topic-h5 h5 {
        width: 100% !important;
    }
    button.slick-prev {
        display: none !important;
    }
    button.slick-next {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #time-picker input {
        width: 30% !important;
    }
}

@media screen and (max-width: 991px) {
    #navigation-menu {
        display: none !important;
    }
    #toggle {
        display: block !important;
    }
    .tensorsite-content__clip-bg {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .training {
        transform: rotate(0deg) !important;
    }
    .training ul li {
        padding: 10px !important;
    }
    /*    .tensorsite-content__clip-shape {
            margin-top: -19px !important;
        }*/
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

@media screen and (max-width: 991px){
    .box{
        width: 80%;
    }
    .popup{
        width: 80%;
    }
    .booking-form input {
        width: 100% !important;
    }
    .time select {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .dropdown-item {
        color: #ffffff;
    }
    .bg-gradient {
        display: none !important;
    }
    .mark, mark {
        display: none !important;
    }
    .banner {
        display: block !important;
    }
    .banner-lg {
        display: none !important;
    }
    .tensorsite-card--clip .tensorsite-content__image-wrapper {
        height: 150px !important;
    }
    .checkbox-session input {
        width: auto !important;
        margin: 0 20px !important;
    }
    /*    #toggle {
            width: 45px;
            margin: 10px 20px 0px;;
        }*/
}

@media (min-width: 461px) and (max-width: 768px) {
    .banner-text h1 {
        font-size: 55px !important;
        top: 22% !important;
    }
    .banner-text h2 {
        font-size: 50px !important;
    }
    .banner-text span {
        font-size: 55px !important;
        left: 25px;
        top: 30%;
        letter-spacing: 5px;
    }
    .banner-text {
        margin-top: 50px !important;
    }
    .img-bg-cream p {
        font-size: 18px;
    }
}
@media (min-width: 461px) and (max-width: 991px) {
    #toggle {
        width: 45px;
        margin: 10px auto;
    }
    .checkbox-session input {
        width: auto !important;
    }
}




@media (min-width: 461px) and (max-width: 767px) {
    .p-0 {
        padding-top: 110px !important;
        padding: 0;
    }
    #menu {
        top: 95px !important;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .banner-text h2 {
        font-size: 50px !Important;
        top: 40% !important;
    }
    .banner-text span {
        font-size: 52px !important;
        top: 45% !important;
        left: 15% !important;
    }
    .banner-text h1 {
        font-size: 50px !important;
        top: 37% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    ul.bannerSlider {
        margin-top: 97px !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 1024px) {
    .banner-text h2 {
        position: relative;
        top: 25%;
        color: #e7aca6;
        font-size: 100px;
        font-family: 'Antonio Regular';
        margin: 0;
        text-align: center;
    }
    .banner-text span {
        font-family: "Smithen Regular";
        font-size: 81px;
        color: #fff;
        letter-spacing: 5px;
        position: absolute;
        left: 10%;
        top: 30%;
        z-index: 1;
    }
    .banner-text h1 {
        line-height: 2;
        position: relative;
        top: 20%;
        text-align: center;
        color: #e7aca6;
        opacity: 1;
        letter-spacing: 0;
        font-size: 100px;
        font-family: 'Antonio Regular';
    }
}

@media (min-width: 1025px) and (max-width: 1220px) {
    .banner-text span {
        left: 10% !important;
        top: 35% !important;
    }
}

@media (min-width: 1221px) and (max-width: 1500px) {
    .banner-text span {
        left: 16% !important;
        /*        top: 35% !important;*/
    }
}