<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <div class="searchdesign" fxFlex="50%" fxLayoutAlign="start center">
                <div fxFlex="30%" fxLayoutAlign="start center">
                    <p>Total Students: {{student_count}}</p>
                </div>
            </div>
            <div fxFlex="50%">
                <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> User</button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="70%">
                <mat-form-field fxFlex="100%">
                    <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTerm" />
                </mat-form-field>
            </div>
            <div fxFlex="30%">
                <mat-form-field fxFlex="70%">
                    <mat-label>Sort by</mat-label>
                    <mat-select [(ngModel)]="sortdata" (selectionChange)="sortRecords('result', sortdata)">
                        <mat-option value="name_a_z">Name A-Z</mat-option>
                        <mat-option value="total_login">Total Login</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-list>
            <ng-container *ngFor="let data of student | filterUser:searchTerm">
                <mat-list-item>
                    <button mat-icon-button aria-label="label " (click)="openView(data.student_register_id, 'student') ">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="openBlock()">
                        <mat-icon>block</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="openResult(data.student_register_id, data.student_name)">
                            <mat-icon>insert_drive_file</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.student_register_id, 'student')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.student_register_id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <img matListAvatar src="{{image_url}}{{data.profile_image}} " *ngIf="data.profile_image && data.profile_image !='' " alt="image " (click)="confirmDialog(data, 'preview') " />
                         <h4 mat-line>{{data.student_name}} {{data.parent_name}}</h4>
                    <p mat-line>Total Login: <span style="color: red;">{{data.total_logins}}</span> | Last Login: <span style="color: red;">{{data.last_login | date: 'dd/MM/yyyy'}}</span></p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>