<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> User</button>
        </div>
        <mat-list>
            <ng-container *ngFor="let data of result">
                <mat-list-item>
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.user_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.user_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>
                    <img matListAvatar class="cursor" src="{{image_url}}{{data.imageurl}}" *ngIf="data.imageurl && data.imageurl != ''" alt="image" (click)="imageView(data, 'preview')" />
                    <h4 mat-line>{{data.name}}</h4>
                    <span matLine>{{data.phone_no}}</span>
                    <p mat-line>{{data.address}} {{data.pincode}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>