<h2 mat-dialog-title>Club</h2>
<mat-dialog-content class="mat-typography">
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
        <div fxFlex="50%" fxLayoutAlign="center center" *ngIf="field_type === 'image'">
            <button *ngIf="value == ''" type="button" mat-raised-button (click)="fileInput.click()">{{file_name}}</button>
            <input hidden #fileInput type="file" id="file" (change)="fileProgress($event)" />
                   <mat-icon *ngIf="value == ''" matTooltip="Width: 693px, Height: 822px;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
            <div class="preview-image" *ngIf="value != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{value}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('value')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50%" *ngIf="field_type === 'text'">
            <mat-form-field class="full-width">
                <mat-label>Value</mat-label>
                <textarea rows="6" matInput placeholder="" required [(ngModel)]="value" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </div>
        <div fxFlex="50%" *ngIf="field_type === 'input'">
            <mat-form-field class="full-width">
                <mat-label>Value</mat-label>
                <input matInput placeholder="" type="text" required [(ngModel)]="value" [ngModelOptions]="{standalone: true}" />
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button  (click)="onSubmit()" [disabled]="loading">Save</button>
        <mat-progress-spinner
            class="example-margin"
            *ngIf="loading"
            [mode]="'indeterminate'"
            [strokeWidth]="3"
            [diameter]="25">
        </mat-progress-spinner>
    </div>
</mat-dialog-content>