<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start start">
            <mat-card fxFlex="50%">
                <h3>Cover Image</h3>
                <img src="{{image_url}}{{data.cover_image}}" alt="image" style="width: 100%" />
                <button mat-icon-button matTooltip="Edit" aria-label="label">
                    <mat-icon (click)="openDialog(data.cover_image, 'image', 'cover_image')">edit</mat-icon>
                </button>
            </mat-card>
            <mat-card fxFlex="50%">
                <h3>Logo</h3>
                <img src="{{image_url}}{{data.logo}}" alt="image" style="width: 100%" />
                <button mat-icon-button matTooltip="Edit" aria-label="label">
                    <mat-icon (click)="openDialog(data.logo, 'image', 'logo')">edit</mat-icon>
                </button>
            </mat-card>
        </div>
        <section class="section">
            <br/>
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start start">
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Phone" [(ngModel)]="data.phone" [readonly]="!editable">
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit" (click)="enableEdit = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit" (click)="enableEdit = false; editable = false">
                            <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit" (click)="onSubmit('phone', data.phone); enableEdit = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                <mat-card-header>
                                        <mat-card-title>Phone</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p></p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.phone, 'input', 'phone')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                    -->
                </mat-card>
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Email"  [(ngModel)]="data.email_id" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit1" (click)="enableEdit1 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit1" (click)="enableEdit1=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit1" (click)="onSubmit('email_id', data.email_id); enableEdit1 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Email</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.email_id}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.email_id, 'input', 'email_id')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Address" [(ngModel)]="data.address" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit2" (click)="enableEdit2 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit2" (click)="enableEdit2=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit2" (click)="onSubmit('address', data.address); enableEdit2 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Address</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.address}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.address, 'input', 'address')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
            </div>
            <br/>
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start start">
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Landmark" [(ngModel)]="data.landmark" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit3" (click)="enableEdit3 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit3" (click)="enableEdit3=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit3" (click)="onSubmit('landmark', data.landmark); enableEdit3 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Landmark</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.landmark}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.landmark, 'input', 'landmark')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Facebook" [(ngModel)]="data.facebook_link" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit4" (click)="enableEdit4 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit4" (click)="enableEdit4=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit4" (click)="onSubmit('facebook_link', data.facebook_link); enableEdit4 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Facebook</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.facebook_link}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.facebook_link, 'input', 'facebook_link')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="YouTube" [(ngModel)]="data.youtube_link" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit5" (click)="enableEdit5 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit5" (click)="enableEdit5=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit5" (click)="onSubmit('youtube_link', data.youtube_link); enableEdit5 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>YouTube</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.youtube_link}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.youtube_link, 'input', 'youtube_link')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
            </div>
            <br/>
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start start">
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Twitter" [(ngModel)]="data.twitter_link" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit6" (click)="enableEdit6 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit6" (click)="enableEdit6=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit6" (click)="onSubmit('twitter_link', data.twitter_link); enableEdit6 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Twitter</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.twitter_link}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.twitter_link, 'input', 'twitter_link')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Instagram" [(ngModel)]="data.instagram_link" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit7" (click)="enableEdit7 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit7" (click)="enableEdit7=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit7" (click)="onSubmit('instagram_link', data.instagram_link); enableEdit7 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Instagram</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.instagram_link}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.instagram_link, 'input', 'instagram_link')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
                <!--                <mat-card fxFlex="25%">
                                    <mat-card-header>
                                        <mat-card-title>Logo</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image src="{{image_url}}{{data.logo}}" alt="image" />
                                    <mat-card-actions>
                                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                                            <mat-icon (click)="openDialog(data.logo, 'image', 'logo')">edit</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                </mat-card>-->
                <!--                <mat-card fxFlex="25%">
                                    <mat-card-header>
                                        <mat-card-title>Cover Image</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image src="{{image_url}}{{data.cover_image}}" alt="image" />
                                    <mat-card-actions>
                                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                                            <mat-icon (click)="openDialog(data.cover_image, 'image', 'cover_image')">edit</mat-icon>
                                        </button>
                                    </mat-card-actions>
                                </mat-card>-->
                <mat-card fxFlex="33%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Leader" [(ngModel)]="data.leader_name" [readonly]="!editable" >
                    </mat-form-field>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit8" (click)="enableEdit8 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit8" (click)="enableEdit8=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit8" (click)="onSubmit('leader_name', data.leader_name); enableEdit8 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!--                    <mat-card-header>
                                            <mat-card-title>Leader</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.leader_name}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.leader_name, 'input', 'leader_name')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
            </div>
            <br/>
            <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start start">
                <mat-card fxFlex="100%">
                    <mat-form-field fxFlex="100%">
                        <textarea rows="6" matInput placeholder="" required [(ngModel)]="data.about" [readonly]="!editable"></textarea>
                    </mat-form-field>
                    <br/>
                    <button mat-icon-button matTooltip="Edit" aria-label="label" *ngIf="!enableEdit9" (click)="enableEdit9 = true; editable = true">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Close" aria-label="label" *ngIf="enableEdit9" (click)="enableEdit9=false; editable = false" >
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Done" aria-label="label" *ngIf="enableEdit9" (click)="onSubmit('about', data.about); enableEdit9 = false; editable = false">
                        <mat-icon>done</mat-icon>
                    </button>

                    <!--                    <mat-card-header>
                                            <mat-card-title>About</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>{{data.about}}</p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.about, 'text', 'about')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>-->
                </mat-card>
            </div>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>