<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-tab-group>
            <mat-tab label="2 Wheeler">
                <mat-list>
                    <mat-list-item *ngFor="let data of result">
                        <button mat-icon-button aria-label="label">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label" (click)="openDialog(data.member_id, 'result')">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>money</mat-icon>
                        </button>
                        <img matListAvatar src="{{image_url}}{{data.profile_picture}}" *ngIf="data.profile_picture && data.profile_picture != ''" alt="...">
                             <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.profile_picture || data.profile_picture == ''" alt="...">
                        <h3 matLine>{{data.first_name}}</h3>
                        <p matLine>{{data.ic_passport}} - {{data.contact_number}}</p>
                        <p matLine>{{data.email}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="4 Wheeler">
                <mat-list>
                    <mat-list-item *ngFor="let data of result_fw">
                        <button mat-icon-button aria-label="label">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label" (click)="openDialog(data.member_id, 'result_fw')">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>money</mat-icon>
                        </button>
                        <img matListAvatar src="{{image_url}}{{data.profile_picture}}" *ngIf="data.profile_picture && data.profile_picture != ''" alt="...">
                             <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.profile_picture || data.profile_picture == ''" alt="...">
                        <h3 matLine>{{data.first_name}}</h3>
                        <p matLine>{{data.ic_passport}} - {{data.contact_number}}</p>
                        <p matLine>{{data.email}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>