<h2 mat-dialog-title>Member</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="type" (selectionChange)="getClub()">
                        <mat-option value="two_wheel">
                            Two Wheel
                        </mat-option>
                        <mat-option value="four_wheel">
                            Four Wheel
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="" formControlName="first_name" />
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="" formControlName="last_name" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option value="male"> Male </mat-option>
                        <mat-option value="female"> Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Age</mat-label>
                    <mat-select formControlName="age">
                        <mat-option value="15"> 15 </mat-option>
                        <mat-option value="16"> 16</mat-option>
                        <mat-option value="17"> 17</mat-option>
                        <mat-option value="18"> 18</mat-option>
                        <mat-option value="19"> 19</mat-option>
                        <mat-option value="20"> 20</mat-option>
                        <mat-option value="21"> 21</mat-option>
                        <mat-option value="22"> 22</mat-option>
                        <mat-option value="23"> 23</mat-option>
                        <mat-option value="24"> 24</mat-option>
                        <mat-option value="25"> 25</mat-option>
                        <mat-option value="26"> 26</mat-option>
                        <mat-option value="27"> 27</mat-option>
                        <mat-option value="28"> 28</mat-option>
                        <mat-option value="29"> 29</mat-option>
                        <mat-option value="30"> 30</mat-option>
                        <mat-option value="31"> 31</mat-option>
                        <mat-option value="32"> 32</mat-option>
                        <mat-option value="33"> 33</mat-option>
                        <mat-option value="34"> 34</mat-option>
                        <mat-option value="35"> 35</mat-option>
                        <mat-option value="36"> 36</mat-option>
                        <mat-option value="37"> 37</mat-option>
                        <mat-option value="38"> 38</mat-option>
                        <mat-option value="39"> 39</mat-option>
                        <mat-option value="40"> 40</mat-option>
                        <mat-option value="41"> 41</mat-option>
                        <mat-option value="42"> 42</mat-option>
                        <mat-option value="43"> 43</mat-option>
                        <mat-option value="44"> 44</mat-option>
                        <mat-option value="45"> 45</mat-option>
                        <mat-option value="46"> 46</mat-option>
                        <mat-option value="47"> 47</mat-option>
                        <mat-option value="48"> 48</mat-option>
                        <mat-option value="49"> 49</mat-option>
                        <mat-option value="50"> 50</mat-option>
                        <mat-option value="51"> 51</mat-option>
                        <mat-option value="52"> 52</mat-option>
                        <mat-option value="53"> 53</mat-option>
                        <mat-option value="54"> 54</mat-option>
                        <mat-option value="55"> 55</mat-option>
                        <mat-option value="56"> 56</mat-option>
                        <mat-option value="57"> 57</mat-option>
                        <mat-option value="58"> 58</mat-option>
                        <mat-option value="59"> 59</mat-option>
                        <mat-option value="60"> 60</mat-option>
                        <mat-option value="61"> 61</mat-option>
                        <mat-option value="62"> 62</mat-option>
                        <mat-option value="63"> 63</mat-option>
                        <mat-option value="64"> 64</mat-option>
                        <mat-option value="65"> 65</mat-option>
                        <mat-option value="66"> 66</mat-option>
                        <mat-option value="67"> 67</mat-option>
                        <mat-option value="68"> 68</mat-option>
                        <mat-option value="69"> 69</mat-option>
                        <mat-option value="70"> 70</mat-option>
                        <mat-option value="71"> 71</mat-option>
                        <mat-option value="72"> 72</mat-option>
                        <mat-option value="73"> 73</mat-option>
                        <mat-option value="74"> 74</mat-option>
                        <mat-option value="75"> 75</mat-option>
                        <mat-option value="76"> 76</mat-option>
                        <mat-option value="77"> 77</mat-option>
                        <mat-option value="78"> 78</mat-option>
                        <mat-option value="79"> 79</mat-option>
                        <mat-option value="80"> 80</mat-option>
                        <mat-option value="81"> 81</mat-option>
                        <mat-option value="82"> 82</mat-option>
                        <mat-option value="83"> 83</mat-option>
                        <mat-option value="84"> 84</mat-option>
                        <mat-option value="85"> 85</mat-option>
                        <mat-option value="86"> 86</mat-option>
                        <mat-option value="87"> 87</mat-option>
                        <mat-option value="88"> 88</mat-option>
                        <mat-option value="89"> 89</mat-option>
                        <mat-option value="90"> 90</mat-option>
                        <mat-option value="91"> 91</mat-option>
                        <mat-option value="92"> 92</mat-option>
                        <mat-option value="93"> 93</mat-option>
                        <mat-option value="94"> 94</mat-option>
                        <mat-option value="95"> 95</mat-option>
                        <mat-option value="96"> 96</mat-option>
                        <mat-option value="97"> 97</mat-option>
                        <mat-option value="98"> 98</mat-option>
                        <mat-option value="99"> 99</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="marital_status">
                        <mat-option value="single"> Single </mat-option>
                        <mat-option value="married"> Married</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>IC Number / Passport Number</mat-label>
                    <input matInput placeholder="" formControlName="ic_passport" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <input matInput required formControlName="dob" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Club Name</mat-label>
                    <mat-select formControlName="club_id">
                        <mat-option value="0">None</mat-option>
                        <mat-option [value]="row.club_id" *ngFor="let row of clubs">{{row.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contact Number</mat-label>
                    <input matInput placeholder="" formControlName="contact_number" />
                </mat-form-field>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center">
                <button type="button" mat-raised-button (click)="fileInput.click()">{{profile_image}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event, 'profile_image', 'image_path')" />
                       <mat-icon matTooltip="Width: 1583px, Height: 600px;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="100%">
                <mat-form-field class="full-width">
                    <mat-label>Address</mat-label>
                    <textarea rows="6" matInput placeholder="" formControlName="address"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="33%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Country</mat-label>
                    <input matInput readonly placeholder="" formControlName="country" />
                </mat-form-field>
            </div>
            <div fxFlex="33%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state">
                        <mat-option [value]="row.state_id" *ngFor="let row of states">{{row.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="33%">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input matInput placeholder="" formControlName="zip_code" />
                </mat-form-field>
            </div>
        </div>
        <h4>Referral:</h4>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Member ID</mat-label>
                    <input matInput placeholder="" formControlName="referral_member_id" />
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Club</mat-label>
                    <input matInput placeholder="" formControlName="referral_club_id" />
                </mat-form-field>
            </div>
        </div>
        <h4>Login Information:</h4>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="" formControlName="email" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [disabled]="loading">Save</button>
            <mat-progress-spinner
                class="example-margin"
                *ngIf="loading"
                [mode]="'indeterminate'"
                [strokeWidth]="3"
                [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>