<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openUsersForm(0, 'result')"><mat-icon>add</mat-icon> users</button>
        </div>
        <mat-list>
            <h3 mat-subheader>Folders</h3>
             <section class="section">
                    <br/>                     
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                        <div class="searchdesign" fxFlex="50%">
                            <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                <input matInput type="text" placeholder="Search by title" [(ngModel)]="searchTerm" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                            <mat-form-field fxFlex="100%">
                                <mat-label>Sort by</mat-label>
                              <mat-select [(ngModel)]="sortdata" (selectionChange)="sortRecords()">
                                    <mat-option value="title_a_z">Title A-Z</mat-option>
                                    <mat-option value="title_z_a">Title Z-A</mat-option>
                                    <mat-option value="created_a_z">Created Date ASC</mat-option>
                                    <mat-option value="created_z_a">Created Date DESC</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>
            <mat-list-item>
                <img matListAvatar src="./assets/1.jpg" alt="..." />
                <h4 mat-line>Name</h4>
                <p mat-line> Role </p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>