<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openUsersForm(0)"><mat-icon>add</mat-icon> User</button>
        </div>
        <section class="section">
            <br/>                     
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                <div class="searchdesign" fxFlex="50%">
                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTerm" />
                    </mat-form-field>
                </div>
                <div fxFlex="20%">
                    <mat-form-field fxFlex="100%">
                        <mat-label>Sort by</mat-label>
                        <mat-select [(ngModel)]="sortdata" (selectionChange)="sortRecords('result', sortdata)">
                            <mat-option value="title_a_z">Title A-Z</mat-option>
                            <mat-option value="title_z_a">Title Z-A</mat-option>
                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </section>
        <mat-list>     
            <ng-container *ngFor="let data of result">
                <mat-list-item class="list-container">
                    <button mat-icon-button aria-label="label" (click)="openUsersForm(data.users_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.users_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button> 
                    <img matListAvatar src="{{image_url}}{{data.media_path}}" *ngIf="data.media_path && data.media_path != ''" alt="..." (click)="confirmDialog(data, 'preview')" />                   
                         <h3 class="truncate" matLine>{{data.name}}</h3> 
                    <p mat-line> {{data.email}} - {{data.contact}} </p>
                    <p mat-line> {{data.role}} </p>
                </mat-list-item> 
            </ng-container>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>
