<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0)"><mat-icon>add</mat-icon> Announcement</button>
        </div>
        <ng-container *ngFor="let data of result; let i = index">
            <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                <ng-container *ngIf="result[i]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i]['announcement_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i]['thumb_image']}}" alt="Photo of a Shiba Inu" />
                        <mat-card-content>
                            <p>
                                {{result[i]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i]['announcement_id'])">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i]['announcement_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 1]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 1]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 1]['announcement_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 1]['thumb_image']}}" alt="Photo of a Shiba Inu" />
                        <mat-card-content>
                            <p>
                                {{result[i + 1]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 1]['announcement_id'])">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 1]['announcement_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 2]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 2]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 2]['announcement_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 2]['thumb_image']}}" alt="Photo of a Shiba Inu" />
                        <mat-card-content>
                            <p>
                                {{result[i + 2]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 2]['announcement_id'])">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 2]['announcement_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 3]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 3]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 3]['announcement_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 3]['thumb_image']}}" alt="Photo of a Shiba Inu" />
                        <mat-card-content>
                            <p>
                                {{result[i + 3]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 3]['announcement_id'])">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 3]['announcement_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
            </div>            
            <br/>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>