<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="fileInput.click()">
                <span *ngIf="!loading">Import</span>
                <mat-progress-spinner
                    *ngIf="loading"
                    [mode]="'indeterminate'"
                    [strokeWidth]="3"
                    [diameter]="25">
                </mat-progress-spinner>
            </button>
            <input hidden #fileInput type="file" id="file" (change)="fileProgress($event)" />
                   <button mat-raised-button color="primary" (click)="openDialog(0, 'null')">
                <mat-icon>add</mat-icon> Question
            </button>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Subject</mat-label>
                    <mat-select (selectionChange)="getChapter()" [(ngModel)]="selected_subject">
                        <mat-option [value]="sub.subject_id" *ngFor="let sub of subject">
                            {{sub.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Subject is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Select Chapter</mat-label>
                <mat-select (selectionChange)="getTopic()" [(ngModel)]="selected_chapter">
                    <mat-option [value]="chap.chapter_id" *ngFor="let chap of chapter">
                        {{chap.name}}
                </mat-option>
            </mat-select>
            <mat-error>Chapter is required</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="50%">
        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Select Topic</mat-label>
            <mat-select (selectionChange)="getQuestion()" [(ngModel)]="selected_topic">
                <mat-option [value]="top.topic_id" *ngFor="let top of topic">
                    {{top.name}}
            </mat-option>
        </mat-select>
        <mat-error>Topic is required</mat-error>
    </mat-form-field>
</div>
</div>
<mat-list>
    <ng-container *ngFor="let data of question">
        <mat-list-item>
            <button mat-icon-button aria-label="label" (click)="openDialog(data.question_id, 'question')">
                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.question_id)">
                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
            </button>
            <p class="float-left">{{data.question_no}}.</p>
            <h4 class="question" mat-line [innerHTML]="data.name"></h4>
            <p mat-line>A. <span [innerHTML]="data.a"></span></p>
            <p mat-line>B. <span [innerHTML]="data.b"></span></p>
            <p mat-line>C. <span [innerHTML]="data.c"></span></p>
            <p mat-line>D. <span [innerHTML]="data.d"></span></p>
            <h2 mat-line class="answer-font">Answer: ({{data.answer}})</h2>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>
</mat-sidenav-content>
</mat-sidenav-container>