<h2 mat-dialog-title>Assgin Feedback</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="100%">
                <mat-selection-list>
                    <mat-list-option *ngFor="let row of feedback">
                        {{row.name}}
                        <span>{{row.option_1}}</span>
                        <span>{{row.option_2}}</span>
                        <span>{{row.option_3}}</span>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [disabled]="loading">Save</button>
            <mat-progress-spinner class="example-margin" *ngIf="loading" [mode]="'indeterminate'" [strokeWidth]="3" [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>