<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Feedback</button>
        </div>
        <mat-tab-group>
            <mat-tab label="Feedback Master">
                <mat-list>
                    <ng-container *ngFor="let data of feedback">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.feedback_id, 'feedback')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.feedback_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h4 mat-line>{{data.name}}</h4>
                            <p mat-line *ngIf="data.feedback_type!= 'q-only'">{{data.option_1}}</p>
                            <p mat-line *ngIf="data.feedback_type!= 'q-only'">{{data.option_2}}</p>
                            <p mat-line *ngIf="data.feedback_type!= 'q-only'">{{data.option_3}}</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="Assign Feedback">
                <mat-list>
                    <ng-container *ngFor="let data of student">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label" (click)="AssignFeedback();">
                                <mat-icon #tooltip="matTooltip" matTooltip="Assign Feedback">assignment</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label">
                                <mat-icon #tooltip="matTooltip" matTooltip="View Assign Feedback">assignment_turned_in</mat-icon>
                            </button>
                            <img matListAvatar src="{{image_url}}{{data.profile_image}}"/>
                    <h4 mat-line>{{data.student_name}}</h4>
                    <p mat-line>{{data.parent_name}} | {{data.mobile}} | {{data.city}}</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>