<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0)"><mat-icon>add</mat-icon> News</button>
        </div>
        <mat-list *ngIf="result.length > 0">
            <mat-list-item class="list-container" *ngFor="let data of result">
                <button mat-icon-button aria-label="label" (click)="openGalleryDialog(data['news_id'])">
                    <mat-icon #tooltip="matTooltip" matTooltip="Add Image">panorama</mat-icon>
                </button>
                <button mat-icon-button aria-label="label" (click)="openView(data.news_id)">
                    <mat-icon #tooltip="matTooltip" matTooltip="View">remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button aria-label="label" (click)="openDialog(data['news_id'])">
                    <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="label" (click)="confirmDelete(data['news_id'])">
                    <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                </button>                                    
                <img matListAvatar src="{{image_url}}{{data.cover_image}}" *ngIf="data.cover_image && data.cover_image != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                     <h3 class="truncate" matLine>{{data.title}}</h3>                                        
                <p class="truncate2" matLine>{{data.news_date | date: 'dd-MM-yyyy'}}</p> 
            </mat-list-item>
        </mat-list>
        <div *ngIf="result.length == 0" class="section">
            No News found
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
