<header class="navbar-fixed" ng-include="'pages/header.html'"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 no-padding color-blue height-100vh">
            <div ng-include="'pages/adminmenu.html'"></div>
        </div>
        <div class="col-md-10 padding-t-b-15">
            <div class="col-md-1 padding-b-10 no-padding">
                <button type="button" class="btn btn-primary" ng-click="openForm('categories', 'categories', 'Category', 0);">
                    Add Category
                </button>
            </div>
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data">
                        <td>
                            <img ng-if="row.image !== ''" class="preview" ng-src="{{row.image | image_url}}" alt="image" />
                        </td>
                        <td>{{row.name}}</td>
                        <td>{{row.description}}</td>
                        <td>
                            <a ng-click="openForm('categories', 'categories', 'Category', row.ID);" class="pointer">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a ng-click="deleteRecord('categories', row.ID, 'Category');" class="pointer">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>                                        
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="categories.html">
    <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
    Category
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();"> 
    <span aria-hidden="true">&times;</span>
    </button>
    </h4>
    </div>
    <div class="modal-body" id="modal-body">
    <form name="popupForm" ng-submit="submitForm();">
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label for="image" class="cols-sm-2 control-label">Image</label>
    <input class="form-control" type="file" name="image" ng-model="image" id="image" accept="image/*" onchange="angular.element(this).scope().uploadImage(this.files, 'image');" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Name</label>
    <input class="form-control" type="text" name="name" ng-model="form.name" id="name" required autofocus />
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="form-group">
    <label for="description" class="cols-sm-2 control-label">Description</label>
    <textarea rows="3" ng-model="form.description" name="description" class="form-control" id="description"></textarea>
    </div>
    </div>
    </div>
    <div class="form-group" style="text-align: right;">
    <button ng-disabled="!popupForm.$valid" type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
    </div>
    </div>
</script>