<table width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto; border: 3px solid #c00000;">
    <tr>
        <td colspan="2" style="border-bottom:3px solid #c00000; padding:10px; text-align: center; background-color: #eaf1dd;">
            <img src="http://yellowandgray.com/eshine/reports/mbcweekly.jpg" alt="image" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #e5b8b7; font-size: 14px;">
            PHONICS
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; border-right: 3px solid #c00000; background-color: #f6e6e6; vertical-align: bottom;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="5"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #f6e6e6; vertical-align: bottom;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #8db3e2; font-size: 14px;">
            DRAWING
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; border-right: 3px solid #c00000; font-size: 12px; background-color: #d7e5f5;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #d7e5f5;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #c2d69b; font-size: 14px;">
            HANDWRITING
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; border-right: 3px solid #c00000; font-size: 12px; background-color: #f0f5e7;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #f0f5e7;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #e5b8b7; font-size: 14px;">
            KIDS YOGA
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #f6e6e6; vertical-align: bottom; border-right: 3px solid #c00000;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #f6e6e6; vertical-align: bottom;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #8db3e2; font-size: 14px;">
            SPOKEN ENGLISH
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; border-right: 3px solid #c00000; font-size: 12px; background-color: #d7e5f5;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #d7e5f5;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000000; padding: 5px 0px; font-weight: bold; background-color: #fabf8f; font-size: 14px;">
            YOUNG LEAD
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #fef2e8; vertical-align: bottom; border-bottom: 3px solid #c00000;">
            <span style="text-decoration: underline; display: block;">HIGHLIGHTS</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #fef2e8; vertical-align: bottom; border-bottom: 3px solid #c00000;">
            <span style="text-decoration: underline; display: block;">CHALLENGES</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="6"></textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; border-right: 1px solid #c00000; border-bottom: 1px solid #c00000; font-size: 12px; background-color: #e0ebcd;">
            <span style="text-decoration: underline; display: block;">General Challenges</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="8" ng-model="formFields.play_group_highlights" placeholder="(Any challenges faced with the activities, curriculum, administration, parents, staff, children, transportation, suppliers, corporate or other work related challenges. If there are no challenges, just say none)"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; border-bottom: 1px solid #c00000; background-color: #e0ebcd;">
            <span style="text-decoration: underline; display: block;">Open Items</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="8" ng-model="formFields.play_group_challenges" placeholder="(Any open items related to curriculum, administration, parents, staff, children, suppliers, corporate, hiring new staff, yourself. If there are no open items, just say none)"></textarea>
        </td>
    </tr>
    <tr>
        <td style="color: #000000; padding: 5px; font-weight: bold; border-right: 1px solid #c00000; border-bottom: 1px solid #c00000; font-size: 12px; background-color: #e0ebcd;">
            <span style="text-decoration: underline; display: block;">Important updates</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="8" ng-model="formFields.play_group_highlights" placeholder="(Update on recruiting, sales, parent request, happy parents, and unhappy parents. If there are no important updates, just say none)"></textarea>
        </td>
        <td style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; border-bottom: 1px solid #c00000; background-color: #e0ebcd;">
            <span style="text-decoration: underline; display: block;">Important events - Next week</span>
            <textarea style="display: block; width: 100%; margin-top: 5px;" rows="8" ng-model="formFields.play_group_challenges" placeholder="(Compensation class,  PTA,  Group review, Start of a new level, Extension class)"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="color: #000000; padding: 5px; font-weight: bold; font-size: 12px; background-color: #e0ebcd; width: 50%; vertical-align: top;">
            <span style="text-decoration: underline; display: block;">Attachments</span>
            <span style="margin: 15px 0px; display: block;">(Student Records, Sales Leads, Recruiting, Others - whenever you attach a file please mention the name of the file(s) you are attaching. You will send these files for review every time you update them)</span>
            <input type="file" />
        </td>
    </tr>
</table>