body{font-family:Arial, Helvetica, sans-serif; font-size:12px;  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none; }
		  input,
textarea {
     -moz-user-select: text;
}
.box{border:3px solid #c00000; max-width:700px;margin:10px auto 0px;background:#eaf1dd;}
.box2{border:3px solid #c00000; max-width:700px;margin:10px auto 0px;background:#e0ebcd;}
.box3{border:3px solid #c00000; max-width:800px;margin:10px auto 0px;background:#e0ebcd;}
/*.top-link{ max-width:700px ;margin:30px auto 0px;  text-align:right;}*/
.top-link{ text-align:center; }
.top-link a{color:#e46c0b; text-decoration:none; font-size:14px; font-weight:bold;}
.top-link a:hover{text-decoration:underline;}
input{ margin-top:3px;}
h5{font-size:10px; font-weight:normal; padding:0;margin:0; text-align:justify;} 
.clb{clear:both;} 
.w50{width:50%;}
.w100{width:100%;} 
.fll{float:left;} 

.title{border-bottom:3px solid #c00000; padding:10px;}
.h31{background:#e5b8b7; text-align:center; margin:0; padding:5px;}
.h32{background:#fabf8f; text-align:center; margin:0; padding:5px;}
.h33{background:#8db3e2; text-align:center; margin:0; padding:5px;}
.h34{background:#c2d69b; text-align:center; margin:0; padding:5px;}
.b1{width:50%; border-bottom:#c00000 1px solid; border-right:#c00000 1px solid;}
.b2{width:50%; border-bottom:#c00000 1px solid;}
.b3{width:50%; border-right:#c00000 1px solid;}
.b4{width:50%;}

input[type=text]{width:100%; padding: 2px;}
textarea{width:100%; margin-top:3px; height:110px;}

.border{border-bottom:#c00000 3px solid; width:100%;}
.border1{border-bottom:#c00000 1px solid; width:100%;}
.border2{border-right:#c00000 3px solid; height:100%;}

.pink{background:#f6e6e6; width:100%;}
.tan{background:#fef2e8; width:100%;}
.sky{background:#d7e5f5; width:100%;}
.green{background:#f0f5e7; width:100%;}

td{font-size:12px; padding:10px 8px 10px 8px; text-align:left; vertical-align:top;}
span{font-weight:bold; text-decoration:underline;}
tr{margin:10px 10px 20px 10px;}

#upload{
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: bold;
cursor: pointer;
line-height: 20px;
margin: 0px 10px 10px 0px;
display: inline-block;
text-decoration: none;
border-radius: 3px;
padding: 5px;
color: rgb(255, 255, 255);
background: none repeat scroll 0% 0% rgb(141, 179, 226);
border: 0px none;
}

#status{
	font-family:Arial; padding:5px;
}


.error{ background:#f0c6c3; border:1px solid #cc6622; }


#files span{float:left;}


