<div class="logo-bg">
    <img src="assets/logo.png" alt="image" />
</div>
<mat-nav-list>
    <!-- <a mat-list-item routerLinkActive="active-nav" routerLink="/banner">
        <mat-icon>picture_in_picture</mat-icon> Banner
    </a> -->
    <a mat-list-item routerLinkActive="active-nav" routerLink="/snacks">
        <mat-icon>fastfood</mat-icon> Snacks
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/cooldrink">
        <mat-icon>local_drink</mat-icon> Cool Drink
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/user">
        <mat-icon>person</mat-icon> User
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/order">
        <mat-icon>shopping_cart</mat-icon> Orders
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/unit">
        <mat-icon>shopping_basket</mat-icon> Unit
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/delivery_boy">
        <mat-icon>two_wheeler</mat-icon> Delivery Boy
    </a>
</mat-nav-list>