<div class="logo-bg">
    <img src="assets/logo.png" alt="image" />
</div>
<mat-nav-list>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/year">
        <mat-icon>date_range</mat-icon> Year
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/inquiry">
        <mat-icon>streetview</mat-icon> Inquiry
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/inquiry_count">
        <mat-icon>local_library</mat-icon> Inquiry Count
    </a>
</mat-nav-list>