<div class="text-center logo-bg">
    <img src="./assets/logo.png" alt="image" />
</div>
<mat-nav-list>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/banner">
        <mat-icon>picture_in_picture</mat-icon> Home Banner
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/testimonial">
        <mat-icon>question_answer</mat-icon> Testimonial
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/product">
        <mat-icon>card_travel</mat-icon> Products
    </a>
    <!--    <a mat-list-item routerLinkActive="active-nav" routerLink="/member">
       <mat-icon>person</mat-icon> Member
    </a>-->
    <a mat-list-item routerLinkActive="active-nav" routerLink="/order">
        <mat-icon>shopping_cart</mat-icon> Orders
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/application">
        <mat-icon>view_module</mat-icon> Application
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/newsletter">
        <mat-icon>email</mat-icon> News Letter
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/coupon">
        <mat-icon>money_off</mat-icon> Coupon
    </a>
</mat-nav-list>