<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-list>
            <mat-list-item *ngFor="let data of result">
                <button mat-icon-button aria-label="label">
                    <mat-icon #tooltip="matTooltip" matTooltip="Done">person</mat-icon>
                </button>
                <button mat-icon-button aria-label="label">
                    <mat-icon #tooltip="matTooltip" matTooltip="Not Done">person</mat-icon>
                </button>
                <button mat-icon-button aria-label="label" (click)="confirmDelete(data.task_id, 'delete')">
                    <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                </button>
                <h3 matLine>{{data.d}} | {{data.b}} | {{data.a}} | {{data.c}}</h3>
            </mat-list-item>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>