@media screen and (max-width: 991px) {
    .padding-section {
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .h3-bg-border {
        font-size: 25px !important;
        padding: 15px !important;
    }
    .padding-40 {
        padding: 20px !important;
    }
    .comment-form input[type='text'], .comment-form input[type='email'], .comment-form input[type='date'], .comment-form textarea {
        width: 100%;
        border: 1px solid #cccccc;
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    select {
        width: 100%;
        border: 1px solid #cccccc;
        font-size: 14px;
        padding: 10px 20px;
        margin-bottom: 30px;
        border-radius: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .padding-40 {
        padding: 15px !important;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .tab button {
        width: 100% !important;
        border: 1px solid #fff;
        padding: 3px 0px;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .tab button {
        width: 100% !important;
        border: 1px solid #fff;
        padding: 3px 0px;
    }
}