<md-dialog flex="30">
    <md-dialog-content layout="column" md-theme="forms">
        <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="user.name">
                </md-input-container>

                <md-input-container>
                    <label>Value</label>
                    <input ng-model="user.value" type="text">
                </md-input-container>
        </div>
    </md-dialog-content>
</md-dialog>