.bg-gray{
    background-color: #eee;
}
.dash-1{
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
}
.dash-1 p{
    padding: 40px 0px 0px 0px;
    font-size: 17px;
}
.dash-1 span {
    position: absolute;
    top: 200px;
    padding: 0px 0px 0px 20px;
    color: #0099c6;
    font-size: 25px;
    font-weight: 600;
}

.dash-top{
   margin-top: 10px
}
.dash-top i{
    color: #ffff;
    padding: 10px;
    background: #e03030;
    position: absolute;
    top: 73px;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
    font-size: 50px;
}
.dash-top .dash-1:nth-child(2) i{
    color: #ffff;
    padding: 10px;
    background: #6a0;
    position: absolute;
    top: 73px;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
}
.dash-top .dash-1:nth-child(3) i{
    color: #ffff;
    padding: 10px;
    background: #36c;
    position: absolute;
    top: 73px;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
}
.dash-top .dash-1:nth-child(4) i{
    color: #ffff;
    padding: 10px;
    background: #d47;
    position: absolute;
    top: 73px;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
}
.dash-top .dash-1:nth-child(5) i{
    color: #ffff;
    padding: 10px;
    background: #f90;
    position: absolute;
    top: 73px;
    box-shadow: 0px 0px 8px 0px #a7a7a7;
}
.dash-top{
    padding: 20px;
    height: 200px;
    justify-content: space-between;
    align-items: stretch;
}
.top-30{
    margin-bottom: 60px;
}