<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-tab-group>
            <mat-tab label="Landing">
                <!--                <mat-tab-group>
                                    <mat-tab label="2 Wheeler">-->
                <section class="section">
                    <br/>                     
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                        <div class="searchdesign" fxFlex="50%">
                            <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermTW" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                            <mat-form-field fxFlex="100%">
                                <mat-label>Sort by</mat-label>
                                <mat-select [(ngModel)]="sortdata_tw" (selectionChange)="sortRecords('result', sortdata_tw)">
                                    <mat-option value="title_a_z">Name A-Z</mat-option>
                                    <mat-option value="title_z_a">Name Z-A</mat-option>
                                    <mat-option value="created_a_z">Created Date ASC</mat-option>
                                    <mat-option value="created_z_a">Created Date DESC</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section> 
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_twowheel_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_fourwheel_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>  
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_description'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        {{data.value}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_about_us_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_news_updates_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                </div>
                <br/>
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_join_club_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_shop_now_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result | filterEventconfig: searchTermTW;">
                        <ng-container *ngIf="data.name === 'landing_banner_ad'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <ng-container *ngFor="let row of ads">
                                    <ng-container *ngIf="row.advertisement_id == data.value">
                                        <img mat-card-image src="{{image_url}}{{row.image}}" alt="Photo of a Shiba Inu" />
                                    </ng-container>
                                </ng-container>
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>

                </div>
                <br/>
                <!--                    </mat-tab>-->
                <!--                    <mat-tab label="4 Wheeler">
                                        <section class="section">
                                    <br/>                     
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                        <div class="searchdesign" fxFlex="50%">
                                            <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                                <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFW" />
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="20%">
                                            <mat-form-field fxFlex="100%">
                                                <mat-label>Sort by</mat-label>
                                                <mat-select [(ngModel)]="sortdata_fw" (selectionChange)="sortRecords('result', sortdata_fw)">
                                                    <mat-option value="title_a_z">Name A-Z</mat-option>
                                                    <mat-option value="title_z_a">Name Z-A</mat-option>
                                                    <mat-option value="created_a_z">Created Date ASC</mat-option>
                                                    <mat-option value="created_z_a">Created Date DESC</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </section>  
                                        <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                                        <ng-container *ngFor="let data of result | filterEventconfig: searchTermFW;">
                                            <ng-container *ngIf="data.name === 'landing_fourwheel_image'">
                                                <mat-card fxFlex="25%">
                                                    <mat-card-header>
                                                        <mat-card-title>{{data.display_name}}</mat-card-title>
                                                    </mat-card-header>
                                                    <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                                    <mat-card-actions>
                                                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                            <mat-icon (click)="openDialog(data.config_id, 'result')">edit</mat-icon>
                                                        </button>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </ng-container>
                                        </ng-container>  
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>-->
            </mat-tab>
            <mat-tab label="Home">                
                <mat-tab-group>
                    <mat-tab label="2 Wheeler">
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermTWH" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_twh" (selectionChange)="sortRecords('result_home', sortdata_twh)">
                                            <mat-option value="title_a_z">Name A-Z</mat-option>
                                            <mat-option value="title_z_a">Name Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section> 
                        <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermTWH;">
                                <ng-container *ngIf="data.name === 'home_banner_video'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <video mat-card-image controls>
                                            <source src="{{image_url}}{{data.value}}" type="video/mp4" />
                                        </video>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </ng-container>
                            </ng-container>                         

                            <br/>

                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermTWH;">
                                <ng-container *ngIf="data.name === 'two_wheel_photos'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    

                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermTWH;">
                                <ng-container *ngIf="data.name === 'two_wheel_videos'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    

                                </ng-container>
                            </ng-container>
                        </div>
                        <br/>
                    </mat-tab>
                    <mat-tab label="4 Wheeler">
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFWH" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_fwh" (selectionChange)="sortRecords('result_home', sortdata_fwh)">
                                            <mat-option value="title_a_z">Name A-Z</mat-option>
                                            <mat-option value="title_z_a">Name Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section> 
                        <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermFWH;">
                                <ng-container *ngIf="data.name === 'home_banner_video_four_wheel'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <video mat-card-image controls>
                                            <source src="{{image_url}}{{data.value}}" type="video/mp4" />
                                        </video>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </ng-container>
                            </ng-container>                            
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermFWH;">
                                <ng-container *ngIf="data.name === 'four_wheel_photos'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermFWH;">
                                <ng-container *ngIf="data.name === 'four_wheel_videos'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    

                                </ng-container>
                            </ng-container>
                        </div>
                        <br/>
                    </mat-tab>
                    <mat-tab label="Common">
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFW" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_fwc" (selectionChange)="sortRecords('result_home', sortdata_fwc)">
                                            <mat-option value="title_a_z">Name A-Z</mat-option>
                                            <mat-option value="title_z_a">Name Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section> 
                        <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermFW;">
                                <ng-container *ngIf="data.name === 'home_card_ad1'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <ng-container *ngFor="let row of ads_card">
                                            <ng-container *ngIf="row.advertisement_id == data.value">
                                                <img mat-card-image src="{{image_url}}{{row.image}}" alt="Photo of a Shiba Inu" />
                                            </ng-container>
                                        </ng-container>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    

                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermTWH;">
                                <ng-container *ngIf="data.name === 'home_card_ad2'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <ng-container *ngFor="let row of ads_card">
                                            <ng-container *ngIf="row.advertisement_id == data.value">
                                                <img mat-card-image src="{{image_url}}{{row.image}}" alt="Photo of a Shiba Inu" />
                                            </ng-container>
                                        </ng-container>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>                    

                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let data of result_home | filterEventconfig:searchTermTWH;">
                                <ng-container *ngIf="data.name === 'home_banner_ad'">
                                    <mat-card fxFlex="25%">
                                        <mat-card-header>
                                            <mat-card-title>{{data.display_name}}</mat-card-title>
                                        </mat-card-header>
                                        <ng-container *ngFor="let row of ads">
                                            <ng-container *ngIf="row.advertisement_id == data.value">
                                                <img mat-card-image src="{{image_url}}{{row.image}}" alt="Photo of a Shiba Inu" />
                                            </ng-container>
                                        </ng-container>
                                        <mat-card-actions>
                                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                                <mat-icon (click)="openDialog(data.config_id, 'result_home')">edit</mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </ng-container>
                            </ng-container>
                        </div>
                        <br/>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
            <mat-tab label="Others">

            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>