<h2 mat-dialog-title>Config</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="50%">
                <mat-form-field appearance="outline">
                    <mat-label>Two Wheel Display Name</mat-label>
                    <input matInput placeholder="Placeholder" required formControlName="display_name" [(ngModel)]="display_name" />
                    <mat-error>Display Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center" *ngIf="field_type === 'image'">
                <button type="button" mat-raised-button (click)="fileInput.click()">{{file_name}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event)" />
            </div>
            <div fxFlex="50%" *ngIf="field_type === 'text'">
                <mat-form-field>
                    <mat-label>Value</mat-label>
                    <textarea rows="6" matInput placeholder="Write here" required [(ngModel)]="value" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" cdkFocusInitial [disabled]="loading">Save</button>
            <mat-progress-spinner
                class="example-margin"
                *ngIf="loading"
                [mode]="'indeterminate'"
                [strokeWidth]="3"
                [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>