<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <!--<div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon> Config</button>
        </div>-->
        <mat-tab-group>
            <mat-tab label="Landing">
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_twowheel_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_fourwheel_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_description'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>
                                        {{data.value}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_about_us_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                </div>
                <br/>
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_news_updates_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_join_club_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <ng-container *ngFor="let data of result">
                        <ng-container *ngIf="data.name === 'landing_shop_now_image'">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{data.display_name}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{data.value}}" alt="Photo of a Shiba Inu" />
                                <mat-card-actions>
                                    <button mat-icon-button matTooltip="Edit" aria-label="label">
                                        <mat-icon (click)="openDialog(data.config_id)">edit</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>                    
                        </ng-container>
                    </ng-container>
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>Advertisement Banner</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/attachment-bg.jpg" alt="Photo of a Shiba Inu" />
                        <mat-card-actions>
                            <button mat-icon-button matTooltip="Edit" aria-label="label">
                                <mat-icon (click)="openDialog()">edit</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>                    
                </div>
            </mat-tab>
            <mat-tab label="Home">
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Banner</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/banner-background-cover.png" alt="Photo of a Shiba Inu" />
                    <mat-card-actions>
                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Press Release</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/media-bg.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-actions>
                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Advertisement banner 1</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/add/001.png" alt="Photo of a Shiba Inu" />
                    <mat-card-actions>
                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Advertisement banner 2</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/add/002.png" alt="Photo of a Shiba Inu" />
                    <mat-card-actions>
                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Home Advertisement Banner</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="assets/attachment-bg.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-actions>
                        <button mat-icon-button matTooltip="Edit" aria-label="label">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>