<h2 mat-dialog-title>Config</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="50%">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="" required formControlName="display_name" [(ngModel)]="display_name" />
                    <mat-error>Display Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center" *ngIf="field_type === 'image'">
                <button type="button" mat-raised-button (click)="fileInput.click()">{{file_name}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event)" />
            </div>
            <div fxFlex="50%" *ngIf="field_type === 'text'">
                <mat-form-field appearance="outline">
                    <mat-label>Value</mat-label>
                    <textarea rows="6" matInput placeholder="Write here" required [(ngModel)]="value" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex="50%" *ngIf="name === 'landing_banner_ad' || name === 'home_banner_ad'">
                <mat-form-field appearance="outline">
                    <mat-label>Select Ad.</mat-label>
                    <mat-select [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let ad of ads" [value]="ad.advertisement_id">
                            {{ad.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50%" *ngIf="name === 'home_card_ad1' || name === 'home_card_ad2'">
            <mat-form-field appearance="outline">
                <mat-label>Select Ad.</mat-label>
                <mat-select [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let ad of ads_card" [value]="ad.advertisement_id">
                        {{ad.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button type="submit" cdkFocusInitial [disabled]="loading">Save</button>
    <mat-progress-spinner
        class="example-margin"
        *ngIf="loading"
        [mode]="'indeterminate'"
        [strokeWidth]="3"
        [diameter]="25">
    </mat-progress-spinner>
</div>
</form>
</mat-dialog-content>