<div ng-cloak md-theme="forms">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Onsite">
                <md-content layout="row" class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>Training Fees</h3>
                                <h4>300</h4>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>Training Fees</h3>
                                <h4>300</h4>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Individual">
                <md-content layout="row" class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>Training Fees</h3>
                                <h4>300</h4>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>Training Fees</h3>
                                <h4>300</h4>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
