<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Topic</button>
        </div>
        <mat-tab-group (selectedTabChange)="gettopic($event);">
            <mat-tab *ngFor="let sub of subject" label="{{sub.name}}">
                <mat-list>
                    <ng-container *ngFor="let data of topic">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.topic_id, 'topic')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.topic_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>
                            <h4 mat-line>{{data.name}}</h4>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>