<h2 mat-dialog-title>Sub Part</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="subpartForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Product</mat-label>
                    <mat-select required formControlName="product_id">
                        <mat-option [value]="row.electromech_product_id" *ngFor="let row of product">{{row.name}}</mat-option>
                    </mat-select>
                    <mat-error>Product is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Sub Part Name</mat-label>
                    <input matInput placeholder="" required formControlName="name" />
                    <mat-error>Sub Part Name is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%" fxLayoutAlign="center center">
                <button *ngIf="image_path == ''" type="button" mat-raised-button (click)="fileInput.click()">{{subpart_image}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event, 'subpart_image', 'image_path')" />
                       <div class="preview-image" *ngIf="image_path != ''">
                    <img class="dialog-picture" mat-card-image src="{{image_url}}{{image_path}}" alt="Photo" />
                    <button mat-icon-button aria-label="Close icon" (click)="removeMedia('image_path')">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [disabled]="loading">Save</button>
            <mat-progress-spinner class="example-margin" *ngIf="loading" [mode]="'indeterminate'" [strokeWidth]="3" [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>