.equipment-table {
    border-collapse: collapse;
    width: 100%;
}

.equipment-table th {
    border: 2px solid #000;
    padding: 5px;
    text-align: left !Important;
}

.equipment-table td {
    border: 2px solid #000;
    padding: 5px;
    text-align: left !Important;
}


.size-table td{
    border: none !important;
    
}

