
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#feature .sec-title h2 {
    color: #fff;
}

#feature .sec-title p {
    color: #fff;
}

#feature .sec-title h2 .sec-title-border {
    border-top: 2px solid #fff;
}

#feature .sec-title h2 .sec-title-border span::before {
    background: #fff;
}

.padding-top-40 {
    padding-top: 40px;
}

.customer-logos ul i {
    color: #2f93fa;
}

.customer-logos h4 {
    color: #fff;
}

.customer-logos ul li {
    color: #fff;
}

.customer-logos .box {
    padding: 20px;
    box-shadow: 0px 0px 0px 0px #eee;
    background: #fff;
}

.open-button {
    box-shadow: 0px 5px 20px 0px #eee;
    color: black;
    padding: 0px 0;
    border: none;
    cursor: pointer;
    /* opacity: 0.8; */
    position: fixed;
    top: 70px;
    right: 0px;
    width: 168px;
    font-size: 22px;
    /* transform: rotate(-90deg); */
    z-index: 999;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    height: 75px;
    background: #fff;
    text-align: center;
    padding: 8px;
}

.open-button p {
    font-size: 14px;
    font-style: italic;
}