<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-tab-group>
            <mat-tab label="Category">
                <div class="add-btn-container">
                    <button mat-raised-button color="primary" (click)="openCategory(0, 'result')"><mat-icon>add</mat-icon> Category</button>
                </div>
                <mat-list>
                    <ng-container *ngFor="let data of result">
                        <mat-list-item class="list-container">
                            <button mat-icon-button aria-label="label" (click)="openCategory(data.category_id, 'result')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.category_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h3 matLine>{{data.name}}</h3>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="Units">
                <div class="add-btn-container">
                    <button mat-raised-button color="primary" (click)="openUnits(0, 'result_unit')"><mat-icon>add</mat-icon> Units</button>
                </div>
                <mat-list>
                    <ng-container *ngFor="let data of result_unit">
                        <mat-list-item class="list-container">
                            <button mat-icon-button aria-label="label" (click)="openUnits(data.unit_id, 'result_unit')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDeleteUnit(data.unit_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h3 class="truncate" matLine>{{data.type}}</h3>
                            <h2 class="truncate" matLine>{{data.name}}</h2>
                            <h2 class="truncate" matLine>{{data.value}}</h2>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="Products">
                <div class="add-btn-container">
                    <button mat-raised-button color="primary" (click)="openProducts(0, 'result_product')"><mat-icon>add</mat-icon> Products</button>
                </div>
                <ng-container *ngFor="let data of result_product">
                    <mat-list>
                        <mat-list-item class="list-container">
                            <button mat-icon-button aria-label="label" (click)="openProducts(data.product_id, 'result_product')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDeleteProducts(data.product_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h3 class="truncate" matLine>{{data.name}}</h3>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container> 
