<h2 mat-dialog-title>Staff</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="" required formControlName="name" />
                    <mat-error>Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%" fxLayoutAlign="center center">
                <button *ngIf="imageurl == ''" type="button" mat-raised-button (click)="fileInput.click()">{{staff_image}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event, 'staff_image', 'imageurl')" />
                <div class="preview-image" *ngIf="imageurl != ''">
                    <img class="dialog-picture" mat-card-image src="{{image_url}}{{imageurl}}" alt="Photo" />
                    <button mat-icon-button aria-label="Close icon" (click)="removeMedia('imageurl')">
                    <mat-icon>close</mat-icon>
                </button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="" required formControlName="username" />
                    <mat-error>User Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="" required formControlName="password" />
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Phone No</mat-label>
                    <input matInput placeholder="" required formControlName="mobile" />
                    <mat-error>Phone No is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Role</mat-label>
                    <mat-select required formControlName="role">
                        <mat-option value="Admin">Admin</mat-option>
                        <mat-option value="Staff">Staff</mat-option>
                    </mat-select>
                    <mat-error>Select Role is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [disabled]="loading">Save</button>
            <mat-progress-spinner class="example-margin" *ngIf="loading" [mode]="'indeterminate'" [strokeWidth]="3" [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>