<h2 mat-dialog-title>Club Event</h2>
<mat-dialog-content class="mat-typography">    
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%" fxLayoutAlign="start center">        
        <div fxFlex="50%">
            <img class="dialog-picture1" matTooltip="Event Image"  mat-card-image src="{{image_url}}{{cover_image_path}}" alt="Photo" />
        </div>
        <div fxFlex="50%">
            <img class="dialog-picture1"  matTooltip="Thumb Image" mat-card-image src="{{image_url}}{{thumb_image_path}}" alt="Photo" />
        </div>       
    </div>    
    <br/>    
    <table mat-table class="member-table">
        <h2>Club Event Information:</h2>
        <tr>
            <th mat-header-cell>Type</th>
            <td mat-cell *ngIf="data.type == 'two_wheel'"> Two Wheeler </td>
            <td mat-cell *ngIf="data.type == 'four_wheel'"> Four Wheeler </td>
        </tr>
        <tr>
            <th mat-header-cell>Category</th>
            <td mat-cell> {{data.category}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Club name</th>
            <td mat-cell> {{data.club}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Event Title</th>
            <td mat-cell> {{data.title}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Event From Date</th>
            <td mat-cell> {{data.event_from_date}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Event To Date</th>
            <td mat-cell> {{data.event_to_date}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Location</th>
            <td mat-cell> {{data.location}} </td>
        </tr>
        <br/>

    </table>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div fxFlex="100%">
            <h2>Event Description</h2>
            <p [innerHTML]="data.description"></p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]="false">Cancel</button>
    </div>
</mat-dialog-content>