<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Difficulty Level</button>
        </div>
        <mat-list>
            <ng-container *ngFor="let data of difficult">
                <mat-list-item>
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.difficult_id, 'difficult')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.difficult_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>
                    <h4 mat-line>{{data.name}}</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>