<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Inspection Checklist</button>
        </div>
        <mat-tab-group (selectedTabChange)="getCommand($event);">
            <mat-tab *ngFor="let row of schedule" label="{{row.name}}">
                <mat-list>
                    <ng-container *ngFor="let data of result">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.electromech_product_enquiry_list_id, 'result')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.electromech_product_enquiry_list_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h4 mat-line>Product Name: {{data.electromech_product}}</h4>
                            <h4 mat-line>{{data.enquiry_list}}</h4>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>