<h2 mat-dialog-title>Inspection Checklist</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="commandForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Equipment</mat-label>
                    <mat-select required formControlName="electromech_product_id" (selectionChange)="getSubparts()">
                        <mat-option [value]="row.electromech_product_id" *ngFor="let row of product">{{row.name}}</mat-option>
                    </mat-select>
                    <mat-error>Select Equipment is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Schedule</mat-label>
                    <mat-select required formControlName="electromech_schedule_id" (selectionChange)="getSubparts()">
                        <mat-option [value]="row.electromech_schedule_id" *ngFor="let row of schedule">{{row.name}}</mat-option>
                    </mat-select>
                    <mat-error>Schedule is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center" *ngIf="commandForm.value.electromech_schedule_id == '2' || commandForm.value.electromech_schedule_id == '3'">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Select Equipment Parts</mat-label>
                    <mat-select formControlName="subpart_id">
                        <mat-option [value]="row.electromech_subpart_id" *ngFor="let row of subpart">{{row.name}}</mat-option>
                    </mat-select>
                    <mat-error>Checklist Equipment Parts is required</mat-error>
                </mat-form-field>
            </div> 
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Inspection Checklist</mat-label>
                    <textarea matInput placeholder="" rows="6" required formControlName="enquiry_list"></textarea>
                    <mat-error>Inspection Checklist is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [disabled]="loading">Save</button>
            <mat-progress-spinner class="example-margin" *ngIf="loading" [mode]="'indeterminate'" [strokeWidth]="3" [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>