html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    background: #313131;
}

.header {
    padding: 20px 0;
}

.logo {
    text-align: center;
    margin: 0 auto;
}

.header-login {
    margin-top: 20px;
}

.login-button {
    background: #474747;
    border-radius: 25px;
    /*    float: right;*/
    padding: 10px 35px 10px 20px;
    margin-top: 20px;
    text-align: center;
}

.login-button i {
    /*    margin-top: 25px;*/
    font-size: 18px;
    padding: 0;
    color: #ed1c24;
    position: relative;
    top: 0px;
}

.login-button {
    color: #a1a1a1;
    font-size: 18px;
}

.bg-text span {
    font-size: 75px;
    font-family: "VenusRising", sans-serif;
    color: #fff;
    opacity: 0.2;
    text-align: right;
    position: relative;
    top: 160px;
}