<h2 mat-dialog-title>Club</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" (selectionChange)="getCategory()">
                        <mat-option [value]="'two_wheel'">
                            Two Wheeler
                        </mat-option>
                        <mat-option [value]="'four_wheel'">
                            Four Wheeler
                        </mat-option>
                    </mat-select>
                    <mat-error>Club type is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category_id">
                        <mat-option [value]="row.category_id" *ngFor="let row of categories">
                            {{row.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Category is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <button type="button" mat-raised-button (click)="fileInputCover.click()">{{file_cover_name}}</button>
                <input hidden #fileInputCover type="file" id="file_cover" (change)="fileProgress($event,'file_cover_name', 'cover_image')" />
            </div>
            <div fxFlex="50%">
                <button type="button" mat-raised-button (click)="fileInputLogo.click()">{{file_logo_name}}</button>
                <input hidden #fileInputLogo type="file" id="file_logo" (change)="fileProgress($event,'file_logo_name', 'logo_image')" />
            </div>
        </div>
        <br/>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="100%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Club name</mat-label>
                    <input matInput placeholder="" formControlName="name" />
                    <mat-error>Club name is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" formControlName="email" />
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="" formControlName="mobile" />
                    <mat-error>Phone is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state">
                        <mat-option [value]="row.state_id" *ngFor="let row of states">
                            {{row.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>State is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="" formControlName="city" />
                    <mat-error>City is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Zip</mat-label>
                    <input matInput placeholder="" formControlName="zip" />
                    <mat-error>Zip is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Landmark</mat-label>
                    <input matInput placeholder="" formControlName="landmark" />
                    <mat-error>Landmark is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="100%">
                <mat-form-field fxFlex="100%">
                    <mat-label>Address</mat-label>
                    <textarea matInput rows="4" placeholder="" formControlName="address"></textarea>
                    <mat-error>Address is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Club Leader Name (Full Name)</mat-label>
                    <input matInput placeholder="" formControlName="club_leader_name" />
                    <mat-error>Club Leader Name is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>No. of Members</mat-label>
                    <input matInput placeholder="" formControlName="no_of_member" />
                    <mat-error>Members is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="100%">
                <mat-form-field class="full-width" fxFlex="100%">
                    <mat-label>About club</mat-label>
                    <textarea rows="6" matInput placeholder="" formControlName="about"></textarea>
                    <mat-error>About club is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" cdkFocusInitial [disabled]="loading">Save</button>
            <mat-progress-spinner
                class="example-margin"
                *ngIf="loading"
                [mode]="'indeterminate'"
                [strokeWidth]="3"
                [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>
