.web-club {
    background-color: #cccccc;
}

.truncate {
  width: 250px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.truncate1 {
  width: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  font-size: 2pt;
}
.truncate2 {
  width: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  font-size: 0pt;
}

.list-container { 
   
    border-bottom: 1px solid #ccc;
   
}