<h2 mat-dialog-title>Club Details</h2>
<mat-dialog-content class="mat-typography">    
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.8%" fxLayoutAlign="start center"> 
        <div fxFlex="33%">
            <img class="dialog-picture1" matTooltip="CoverImage"  mat-card-image src="{{image_url}}{{data['cover_image']}}" alt="Photo" />
        </div>
        <div fxFlex="33%">
            <img class="dialog-picture1" mat-card-image src="{{image_url}}{{data['logo']}}" alt="Photo" />
        </div>
        <div fxFlex="33%">   
            <video class="video-fluid" style="width: 100%; height: 100% " layout-fill loop="loop"  autoplay="autoplay" preload="auto" controls muted *ngIf="data['club_video'] && data['club_video'] != '' && data['club_video'] != null && data['club_video'] != 'null'">
                   <source src="{{image_url}}{{data['club_video']}}" type="video/mp4"/>
            </video>
        </div>
    </div>    
    <br/>
    <table mat-table class="member-table">
        <h2>Club Information:</h2>
        <tr>
            <th mat-header-cell>Type</th>
            <td mat-cell *ngIf="data.type == 'two_wheel'"> Two Wheeler </td>
            <td mat-cell *ngIf="data.type == 'four_wheel'"> Four Wheeler </td>
        </tr>
        <tr>
            <th mat-header-cell>Category</th>
            <td mat-cell> {{data.category}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Club name</th>
            <td mat-cell> {{data.name}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Rank</th>
            <td mat-cell> {{data.rank}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Email</th>
            <td mat-cell> {{data.email_id}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Phone</th>
            <td mat-cell> {{data.mobile}} </td>
        </tr>
        <tr>
            <th mat-header-cell>State</th>
            <td mat-cell> {{data.state}} </td>
        </tr>
        <tr>
            <th mat-header-cell>City</th>
            <td mat-cell> {{data.city}} </td>
        </tr>
        <tr>
            <th mat-header-cell> Zip Code </th>
            <td mat-cell> {{data.zip}} </td>
        </tr>
        <tr >
            <th mat-header-cell>Landmark</th>
            <td mat-cell> {{data.landmark}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Club Leader Name (Full Name)</th>
            <td mat-cell> {{data.leader_name}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Address</th>
            <td mat-cell> {{data.address}} </td>
        </tr>    
        <h2>Login Details:</h2>
        <tr>
            <th mat-header-cell>User Name</th>
            <td mat-cell> {{data.email}} </td>
        </tr>   
        <h2>Social Media Links:</h2>
        <tr>
            <th mat-header-cell>Facebook Link</th>
            <td mat-cell>{{data.facebook_link}}</td>
        </tr>
        <tr>
            <th mat-header-cell>Youtube Link</th>
            <td mat-cell> {{data.youtube_link}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Twitter Link</th>
            <td mat-cell> {{data.twitter_link}} </td>
        </tr>
        <tr>
            <th mat-header-cell>Instagram Link</th>
            <td mat-cell> {{data.instagram_link}} </td>
        </tr>
    </table>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div fxFlex="100%">
            <h2>About Club</h2>
            <p>{{data.about}}</p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]="false">Cancel</button>
    </div>
</mat-dialog-content>
