<h2 mat-dialog-title>Club Gallery</h2>
<mat-dialog-content class="mat-typography">
    <!--<div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="end center">
        <button type="button" mat-raised-button (click)="fileInput.click()"><mat-icon>add</mat-icon> Photos</button>
        <input hidden #fileInput type="file" id="file" (change)="submitPhotos($event)" multiple />
        <mat-icon matTooltip="Width: 1280px; Height: 600px;" matTooltipPosition="left" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
               <mat-progress-spinner
               class="example-margin"
               *ngIf="loading"
               [mode]="'indeterminate'"
               [strokeWidth]="3"
               [diameter]="25">
        </mat-progress-spinner>
    </div>-->
    <ng-container *ngFor="let data of result; let i = index">
        <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
            <ng-container *ngIf="result[i]">
                <mat-card fxFlex="25%">
                    <ng-container *ngIf="result[i].media_type == 'image'">
                        <img mat-card-image src="{{image_url}}{{result[i]['media_path']}}" alt="" />
                    </ng-container>
                    <ng-container *ngIf="result[i].media_type == 'video'">
                        <video matListAvatar controls style="width: 100%; height: auto;">
                            <source src="{{image_url}}{{result[i]['media_path']}}" type="video/mp4" />
                        </video>
                    </ng-container>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="deleteGallery(result[i]['club_gallery_id'])">
                            <mat-icon matTooltip="Delete">delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
            <ng-container *ngIf="result[i + 1]">
                <mat-card fxFlex="25%">
                    <ng-container *ngIf="result[i+1].media_type == 'image'">
                        <img mat-card-image src="{{image_url}}{{result[i+1]['media_path']}}" alt="" />
                    </ng-container>
                    <ng-container *ngIf="result[i+1].media_type == 'video'">
                        <video matListAvatar controls style="width: 100%; height: auto;">
                            <source src="{{image_url}}{{result[i+1]['media_path']}}" type="video/mp4" />
                        </video>
                    </ng-container>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="deleteGallery(result[i + 1]['club_gallery_id'])">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
            <ng-container *ngIf="result[i + 2]">
                <mat-card fxFlex="25%">
                    <ng-container *ngIf="result[i+2].media_type == 'image'">
                        <img mat-card-image src="{{image_url}}{{result[i+2]['media_path']}}" alt="" />
                    </ng-container>
                    <ng-container *ngIf="result[i+2].media_type == 'video'">
                        <video matListAvatar controls style="width: 100%; height: auto;">
                            <source src="{{image_url}}{{result[i+2]['media_path']}}" type="video/mp4" />
                        </video>
                    </ng-container>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="deleteGallery(result[i + 2]['club_gallery_id'])">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
            <ng-container *ngIf="result[i + 3]">
                <mat-card fxFlex="25%">
                    <ng-container *ngIf="result[i+3].media_type == 'image'">
                        <img mat-card-image src="{{image_url}}{{result[i+3]['media_path']}}" alt="" />
                    </ng-container>
                    <ng-container *ngIf="result[i+3].media_type == 'video'">
                        <video matListAvatar controls style="width: 100%; height: auto;">
                            <source src="{{image_url}}{{result[i+3]['media_path']}}" type="video/mp4" />
                        </video>
                    </ng-container>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="deleteGallery(result[i + 3]['club_gallery_id'])">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>            
        <br/>
    </ng-container>
</mat-dialog-content>