.web-club {
    background-color: #cccccc;
}

.truncate {
    width: 250px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.truncate1 {
    width: 200px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    font-size: 2pt;
}

.truncate2 {
    width: 200px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    font-size: 0pt;
}

.dialog-picture {
    max-height: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.dialog-video {
    max-height: none;
}

video {
    width: 20%;
    height: 20%;
}

img.dialog-picture1.mat-card-image {
    width: 368px;
}
