.owl .slide-img img {
    display: block;
    width: 35% !important;
    text-align: center;
    /* vertical-align: bottom; */
    position: relative;
    left: 31%;
}
.img-pad img {
    padding: 10px 0px 10px 0px;
}
/* ---tab -- */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #2594dd;
    width: 30%;
    height: 600px;
}

.tab button  {
    padding: 25px 20px;
    color: #fff !important;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #9d3f8e;
    color: #fff !important;
}
.tab button.active {
    background-color: #9d3f8e;
}
.tabcontent {
    float: left;
    padding: 25px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 600px;
    background: #2594dd85; 
}
/*--- tap ---*/
.img-responsive {
    width: 100%;
    height: auto;
}
.tab-text h3 {
    color: #fff;
    font-size: 22px !important;
    font-weight: 700;
    margin-top: 10px;
}
.tab-text p {
    color: #ffffff;
    text-align: justify;
}
footer {
    padding: 20px 0px !important;
}
.footer {
    margin-top: 0px !important;
}
.m-top-10{
    margin-top: 10px;
}
.active a, .btn a:hover{
    color: #974091 !important;
    border-bottom: 1px solid #0076d1;
}
.pad-20 {
    padding: 30px 0px 0px 0px ;
}
.pad-20 p{
    text-align: center;
}
.pad-t-70 {
    padding-top: 70px;
}
.text-justify {
    text-align: justify;
}
.core-img img {
    background: #af2788;
    border-radius: 50%;
    padding: 5px !important;
    width: 40px !important;
    margin-bottom: 35px !important;
}
.core-text { 
    margin-top: 10px;
}
.core-text p{ 
    padding: 0px 0px 0px 10px;

}
.pad-a-10 {
    padding: 10px;
}
.list-align li {
    position: relative;
    top: -21px;
    padding: 0px 0px 0px 20px;
    color: #fff;
}
.list-align i {
    color: #ff6e6e;

}
.bg-white {
    background: #fff !important;
}
.color-w {
    color: #fff;
}
.benefits-img img {
    /* background: #ffffff; */
    border-radius: 50%;
    padding: 5px !important;
    width: 80px !important;
    /*    margin-bottom: 20px !important;*/
}
.box-1{
    border: 1px solid #eee;
    padding: 11px;
    margin-bottom: 10px;
    /* box-shadow: 2px 1px 0px 0px #eee; */
    background: #8a8a8c59;
}
.box-1:hover{
    padding: 11px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 9px 1px #e4e4e4;
    background: #0085d3d9;
    transition: 1 linear solid;
    transition: all 0.3s linear;
    transform: scale(1.02);
    color: #fff;
}
.box-1 .core-text p{
    padding: 18px 0px 0px 21px;
}
.box-1 .core-text p span{
    color: #fb6868;
}
.box-1:hover .core-text p span{
    color: #fff;
}
.smart-img img  {
    background: #ffffff;
    border-radius: 50%;
    padding: 5px !important;
    width: 40px !important;
    margin-bottom: 35px !important;
}
.smart .core-text {
    color: #fff;
}
@media  (min-width: 768px) and (max-width: 991px) {
    .smart-img {
        text-align: center;
    }
    .smart {
        height: 200px;
        /* border: 1px solid #eee; */
        margin: 0px 0px 10px 0px;
        padding: 21px;
        background: #42424285;
    }
    .smart .core-text {
        text-align: center;
    }
    .smart-img img {
        margin-bottom: 0px !important; 
    }
    .smart:hover {
        background: #ff7272;
        transform: scale(1.03);
    }
}
@media  screen and (max-width: 991px) {
    .mad-img {
        display: none;
    }
    .tab-1-width {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
@media  screen and (max-width: 471px) {
    .tab button {
        color: black;
        padding: 22px 5px;
        font-size: 12px;
    }
}
@media  screen and (max-width: 471px) {
    .tab button {
        color: black;
        padding: 22px 5px;
        font-size: 12px;
    }
}
@media  (min-width: 320px) and (max-width: 471px) {
    .tab-text {
        font-size: 14px;
    }
}
@media  (max-width: 767px) and (min-width: 260px) {
    .tabcontent {
        height: 600px;
    }
    .tab {
        height: 600px;
    }
}
@media  (max-width: 769px) and (min-width: 370px) {
    .welcome-img {
        padding: 0px 80px;
    }
}
@media  (max-width: 991px) and (min-width: 768px) {
    .welcome-img {
        padding: 0px 200px;
    }
}

.core-img{
    text-align: center;
}
@media (max-width: 991px) and (min-width: 768px){
    .smart-1 {
        height: 200px;
        width: 175px;
        margin: 0px 0px 10px 0px;
        padding: 21px;
        background: #42424221;
    }
    .smart-1 p {
        text-align: center;
    }
}
@media (max-width: 767px) and (min-width: 320px){
    .smart-1 {
        width: 100%;
        height: 200px;
        margin: 0px 0px 10px 0px;
        padding: 21px;
        background: #42424221;
    }
    .smart-1 p {
        text-align: center;
    }
}
@media (max-width: 767px) and (min-width: 320px){
    .smart {
        width: 100%;
        height: 200px;
        margin: 0px 0px 10px 0px;
        padding: 21px;
        background: #42424221;
    }
    .smart p {
        text-align: center;
    }
}
.smart-img {
    text-align: center;
}
@media (max-width: 991px) and (min-width: 768px){
    .box-1{
        height: 175px;
    }
}
@media screen and (min-width: 990px){
    .box-1 p {
        text-align: left !important;
    }
}
.box-1 .benefits-img {
    text-align: center;
}
.box-1 p {
    text-align: center;
}
.img-fluid {
    max-width: 70px;
    height: auto;
    background: #a32187;
    border-radius: 50%;
    margin-bottom: 10px;
}
.list-align-1 li {
    position: relative;
    top: -21px;
    padding: 0px 0px 0px 20px;
    color: #828282;
    text-align: left !important;
}
.list-align-1 i {
    text-align: left;
    /* color: #eee; */
    position: relative;
    left: -151px;
    color: #00b0f0;
}
.single-feature-1:hover {
    transform: scale(1.02);
    background: #fff;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.single-feature-1 img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.single-feature-1{
    background: #89419612;
    height: 420px;
    margin-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1199px){
    .list-align-1 i {
        text-align: left;
        /* color: #eee; */
        position: relative;
        left: -120px;
    }
}
.list-align-2 li {
    position: relative;
    top: -21px;
    padding: 0px 0px 0px 20px;
    color: #828282;
    text-align: left !important;
}
.list-align-2 i {
    color: #00b0f0;
}
@media screen and (max-width: 991px){
    .dis-p-0 {
        display: none;
    }
    .dis-p {
        display:block;
    }
}
@media screen and (min-width: 992px){
    .dis-p-0 {
        display: block;
    }
    .dis-p {
        display:none;
    }
}
.h3-o h3 {
    color: #ff6f6f;
}