.main-banner {
    padding: 150px 0px 140px 0px;
}
.pad-70-90 {
    padding: 70px 0px 90px 0px !important;
}
.test-inner {
    position: relative;
    padding: 30px;
    background: #f1f518b3;
    border-top-right-radius: 35px;
    margin-bottom: 25px;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.test-inner h4,.test-inner h6,.test-inner p {
    color: #fff;
}
.testimonial-heading p {
    color: #fff;
}
.testimonial-heading h1{
    color: #f9ff00;
}
.test-inner:hover {
    box-shadow: 2px 1px 7px 4px rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(125, 117, 247) !important;
}
.color-w {
    color: #fff;
}
.service-icon-1 {
    /* margin-right: 20px; */
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background: #21c87a;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    text-align: center;
    left: 45%;
    position: relative;
    margin-bottom: 10px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .main-navigation {
        margin-top: 0px !important;
    } 
}
body {

}
.header {
    height: 200px; 
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 200;
    width: 100%;
    transition: all 0.5s;
}


.header-alt {
    height: 115px;
    background-color: #e0e0e0  !important;
    position: fixed;
    top: 200;
    width: 100%;
    transition: all 0.5s;
}


.wrapper {  
    height: 2000px;
    padding-top: 200px;
}
a:hover {
    color: #7d75f7 !important;
}

.img-responsive {
    width: 100%;
    height: auto;
}
.header-alt img {
    width: 100px;
}

@media (max-width:1096px) and (min-width:992px ) {
    .slick-dotted.slick-slider {
        margin-bottom: -125px;
    }
}
@media (max-width:1450px) and (min-width:1168px ) {
    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
}
@media (max-width:1167px) and (min-width:1097px ) {
    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
}
