.owl .slide-img img {
    display: block;
    width: 35% !important;
    text-align: center;
    /* vertical-align: bottom; */
    position: relative;
    left: 31%;
}
.img-pad img {
    padding: 10px 0px 10px 0px;
}
/* ---tab -- */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #2594dd;
    width: 30%;
    height: 530px;
}

.tab button  {
    padding: 25px 20px;
    color: #fff !important;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
    color: #000 !important;
}
.tab button.active {
    background-color: #9d3f8e;
}
.tabcontent {
    float: left;
    padding: 25px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 530px;
    background: #2594dd85; 
}
/*--- tap ---*/
.img-responsive {
    width: 100%;
    height: auto;
}
.tab-text h3 {
    color: #fff;
    font-size: 22px !important;
    font-weight: 700;
    margin-top: 10px;
}
.tab-text p {
    color: #424242;
    text-align: justify;
}
footer {
    padding: 20px 0px !important;
}
.footer {
    margin-top: 0px !important;
}
.m-top-10{
    margin-top: 10px;
}
.active a, .btn a:hover{
    color: #974091 !important;
    border-bottom: 1px solid #0076d1;
}
.pad-20 {
    padding: 30px 0px 0px 0px ;
}
.pad-20 p{
    text-align: center;
}
.pad-t-70 {
    padding-top: 70px;
}
.text-justify {
    text-align: justify;
}
.core-img img {
    background: #af2788;
    border-radius: 50%;
    padding: 5px !important;
    width: 40px !important;
    margin-bottom: 35px !important;
}
.core-text { 
    margin-top: 10px;
}
.core-text p{ 
    padding: 0px 0px 0px 10px;

}
.pad-a-10 {
    padding: 10px;
}
.list-align li {
    position: relative;
    top: -21px;
    padding: 0px 0px 0px 20px;
    color: #fff;
}
.list-align i {
    color: #ff6e6e;

}
.bg-white {
    background: #fff !important;
}
.color-w {
    color: #fff;
}
.benefits-img img {
    /* background: #ffffff; */
    border-radius: 50%;
    padding: 5px !important;
    width: 80px !important;
    /*    margin-bottom: 20px !important;*/
}
.box-1{
    border: 1px solid #eee;
    padding: 11px;
    margin-bottom: 10px;
    /* box-shadow: 2px 1px 0px 0px #eee; */
    background: #8a8a8c59;
}
.box-1:hover{
    padding: 11px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 9px 1px #e4e4e4;
    background: #0085d3d9;
    transition: 1 linear solid;
    transition: all 0.3s linear;
    transform: scale(1.02);
    color: #fff;
}
.box-1 .core-text p{
    padding: 18px 0px 0px 21px;
}
.box-1 .core-text p span{
    color: #fb6868;
}
.box-1:hover .core-text p span{
    color: #fff;
}
.smart-img img  {
    background: #ffffff;
    border-radius: 50%;
    padding: 5px !important;
    width: 40px !important;
    margin-bottom: 35px !important;
}
.smart .core-text {
    color: #fff;
}
@media  (min-width: 768px) and (max-width: 991px) {
    .smart-img {
        text-align: center;
    }
    .smart {
        height: 200px;
        /* border: 1px solid #eee; */
        margin: 0px 0px 10px 0px;
        padding: 21px;
        background: #42424285;
    }
    .smart .core-text {
        text-align: center;
    }
    .smart-img img {
        margin-bottom: 0px !important; 
    }
    .smart:hover {
        background: #ff7272;
        transform: scale(1.03);
    }
}
