/*banner slide*/
/*@slick-dot-width: 20px;
@slick-dot-height: 20px;
@slick-dot-color: white;
@slick-dot-color-active: @slick-dot-color;
@slick-opacity-default: 0.75;
@slick-opacity-on-hover: 1;
@slick-opacity-not-active: 0.25;*/

@media (min-width: 992px) {
    .slider, .slide {
        height: 80vh;
    }
}
@media (min-width: 992px) {
    .slide {
        position: relative;
        .slide__img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        width: 100%;
        height: auto;
        overflow: hidden;
        img {
            max-width: 100%;
            height: auto;
            opacity: 1 !important;
            animation-duration: 3s;
            transition: all 1s ease;
        }
    }
    .slide__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*text-align: center;*/
        color: #FFF;
        h2 {
            font-size: 4.5rem;
            margin: 10px 0;
        }
        .animated {
            transition: all .5s ease;
        }
    }
}


// Change animation presets
.slider [data-animation-in] {
    opacity: 0;
    animation-duration: 1.5s;
    transition: opacity 0.5s ease 0.3s;
}

// Dots
.slick-dotted .slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            display: block;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover, &:focus {
                outline: none;
            }
        }
    }
}

.simple-dots {
    .slick-dots {
        li {
            width: @slick-dot-width;
            height: @slick-dot-height;
            button {
                border-radius: 50%;
                background-color: @slick-dot-color;
                opacity: @slick-opacity-not-active;
                width: @slick-dot-width;
                height: @slick-dot-height;
                &:hover, &:focus {
                    opacity: @slick-opacity-on-hover;
                }
            }
            &.slick-active button {
                color: @slick-dot-color-active;
                opacity: @slick-opacity-default;
            }
        }
    }
}

.stick-dots {
    .slick-dots {
        li {
            height: 3px;
            width: 50px;
            button {
                position: relative;
                background-color: @slick-dot-color;
                opacity: @slick-opacity-not-active;
                width: 50px;
                height: 3px;
                padding: 0;
                &:hover, &:focus {
                    opacity: @slick-opacity-on-hover;
                }
            }
            &.slick-active button {
                color: @slick-dot-color-active;
                opacity: @slick-opacity-default;
                &:hover, &:focus {
                    opacity: @slick-opacity-on-hover;
                }
            }
        }
    }
}


@keyframes zoomInImage {
    from {
        transform: scale3d(1, 1, 1);
    }
    to {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.zoomInImage {
    animation-name: zoomInImage;
}

@keyframes zoomOutImage {
    from {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.zoomOutImage {
    animation-name: zoomOutImage;
}

.slide__content {
    position: relative;
    left: 30%;
    width: 35%;
    padding-bottom: 50%;
}
.slide__content h1{
    font-size: 35px !important;
    line-height:50px;
}
@media (max-width:1199px) and (min-width:992px ) {
    .slide .slide__content h1 {
        font-size: 30px !important;
    }
}
@media (max-width:993px) and (min-width:841px ) {
    .slide__content {
        position: relative;
        left: 15%;
        width: 35%;
        /*padding-bottom: 67%;*/
        top: -293px;
    }
    .slide__content h1 {
        font-size: 30px !important;
        line-height: 42px;
    }
}
@media (max-width:840px) and (min-width:360px ) {
    .slide__content {
        position: relative;
        left: 15%;
        width: 35%;
        /*padding-bottom: 67%;*/
        top: -250px;
    }
    .slide__content h1 {
        font-size: 25px !important;
        line-height: 35px;
    }
}