<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> News</button>
        </div>
        <mat-tab-group>
            <mat-tab label="2 Wheeler">
                <section class="section">
                    <br/>                     
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                        <div class="searchdesign" fxFlex="50%">
                            <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                <input matInput type="text" placeholder="Search by title" [(ngModel)]="searchTermTW" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                            <mat-form-field fxFlex="100%">
                                <mat-label>Sort by</mat-label>
                                <mat-select [(ngModel)]="sortdata_tw" (selectionChange)="sortRecords('result', sortdata_tw)">
                                    <mat-option value="title_a_z">Title A-Z</mat-option>
                                    <mat-option value="title_z_a">Title Z-A</mat-option>
                                    <mat-option value="created_a_z">Created Date ASC</mat-option>
                                    <mat-option value="created_z_a">Created Date DESC</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>                
                <mat-list>
                    <ng-container *ngFor="let data of result | filterEventNews:searchTermTW">
                        <mat-list-item class="list-container" *ngIf="data.type == 'two_wheel'">
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(data['news_id'])">
                                <mat-icon #tooltip="matTooltip" matTooltip="Add Image">panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openView()">
                                <mat-icon #tooltip="matTooltip" matTooltip="View">remove_red_eye</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data['news_id'], 'result')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data['news_id'])">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>                                    
                            <img matListAvatar src="{{image_url}}{{data.cover_image}}" *ngIf="data.cover_image && data.cover_image != ''" alt="..." (click)="confirmDialog(data, 'preview')" />
                                 <h3 class="truncate" matLine>{{data.title}}</h3>                                        
                            <p class="truncate2" matLine>{{data.news_date}}</p> 
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="4 Wheeler">
                <section class="section">
                    <br/>                     
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                        <div class="searchdesign" fxFlex="50%">
                            <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFW" />
                            </mat-form-field>
                        </div>
                        <div fxFlex="20%">
                            <mat-form-field fxFlex="100%">
                                <mat-label>Sort by</mat-label>
                                <mat-select [(ngModel)]="sortdata_fw" (selectionChange)="sortRecords('result', sortdata_fw)">
                                    <mat-option value="title_a_z">Title A-Z</mat-option>
                                    <mat-option value="title_z_a">Title Z-A</mat-option>
                                    <mat-option value="created_a_z">Created Date ASC</mat-option>
                                    <mat-option value="created_z_a">Created Date DESC</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>  
                <mat-list>
                    <ng-container *ngFor="let data of result | filterEventNews:searchTermFW">
                        <mat-list-item class="list-container" *ngIf="data.type == 'four_wheel'">
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(data['news_id'])">
                                <mat-icon #tooltip="matTooltip" matTooltip="Add Image">panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openView()">
                                <mat-icon #tooltip="matTooltip" matTooltip="View">remove_red_eye</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data['news_id'], 'result')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data['news_id'])">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>                                    
                            <img matListAvatar src="{{image_url}}{{data.cover_image}}" *ngIf="data.cover_image && data.cover_image != ''" alt="..." (click)="confirmDialog(data, 'preview')" />
                                 <h3 class="truncate" matLine>{{data.title}}</h3>                                        
                            <p class="truncate2" matLine>{{data.news_date}}</p> 
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
