<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> News</button>
        </div>
        <ng-container *ngFor="let data of result; let i = index">
            <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                <ng-container *ngIf="result[i]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                            <mat-card-subtitle>{{result[i]['category']}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i]['cover_image']}}" alt="Photo of a Shiba Inu" />
<!--                        <mat-card-content>
                            <p>
                                {{result[i]['moto_text']}}
                            </p>
                        </mat-card-content>-->
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(result[i]['news_id'])">
                                <mat-icon>panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i]['news_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i]['news_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 1]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 1]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 1]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                            <mat-card-subtitle>{{result[i + 1]['category']}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 1]['cover_image']}}" alt="Photo of a Shiba Inu" />
<!--                        <mat-card-content>
                            <p>
                                {{result[i + 1]['moto_text']}}
                            </p>
                        </mat-card-content>-->
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(result[i + 1]['news_id'])">
                                <mat-icon>panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 1]['news_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 1]['news_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 2]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 2]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 2]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                            <mat-card-subtitle>{{result[i + 2]['category']}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 2]['cover_image']}}" alt="Photo of a Shiba Inu" />
<!--                        <mat-card-content>
                            <p>
                                {{result[i + 2]['moto_text']}}
                            </p>
                        </mat-card-content>-->
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(result[i + 2]['news_id'])">
                                <mat-icon>panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 2]['news_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 2]['news_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result[i + 3]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result[i + 3]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result[i + 3]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                            <mat-card-subtitle>{{result[i + 3]['category']}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{image_url}}{{result[i + 3]['cover_image']}}" alt="Photo of a Shiba Inu" />
<!--                        <mat-card-content>
                            <p>
                                {{result[i + 3]['moto_text']}}
                            </p>
                        </mat-card-content>-->
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openGalleryDialog(result[i + 3]['news_id'])">
                                <mat-icon>panorama</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 3]['news_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 3]['news_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
            </div>            
            <br/>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
