<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-tab-group>
            <mat-tab label="Own News">
                <div class="add-btn-container">
                    <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon> News</button>
                </div>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Car Race News Title</mat-card-title>
                        <mat-card-subtitle>Morning Malaysia</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/news2.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            News description will come here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="openDialog()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>collections</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Bile Race News Title</mat-card-title>
                        <mat-card-subtitle>KL Times</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/news1.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            News description will come here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="openDialog()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>collections</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <mat-tab label="Press Release">
                <div class="add-btn-container">
                    <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon> News</button>
                </div>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Car Race News Title</mat-card-title>
                        <mat-card-subtitle>Morning Malaysia</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/news2.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            News description will come here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="openDialog()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="detail-card">
                    <mat-card-header>
                        <mat-card-title>Bile Race News Title</mat-card-title>
                        <mat-card-subtitle>KL Times</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/news1.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            News description will come here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label" (click)="openDialog()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>