<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-tab-group>
            <mat-tab label="Guest User">
                <!--                <div class="add-btn-container">
                                    <button mat-raised-button color="primary" (click)="openDialogBanner(0, 'null')"><mat-icon>add</mat-icon> Banner</button>
                                </div>-->
                <mat-list>
                    <ng-container *ngFor="let data of free_user">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label " (click)="openFreeMemberView(data.free_user_login_id, 'free_user') ">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openFreeUserResult(data.free_user_login_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Result">insert_drive_file</mat-icon>
                            </button>
                             <button mat-icon-button aria-label="label" (click)="confirmFreeUserDelete(data.free_user_login_id)">
                                    <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <h4 mat-line>{{data.name}} | {{data.phone}}</h4>                           
                            <br/>
                            <span mat-line> {{data.created_at | date:'dd/MM/yyyy hh:mm a'}} </span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="Paid Members">
                <div class="add-btn-container">
                    <div class="searchdesign" fxFlex="80%" fxLayoutAlign="start center">
                        <div fxFlex="20%" fxLayoutAlign="start center">
                            <p>Total Members: {{student_count}}</p>
                        </div>
                        <mat-form-field fxFlex="80%">
                            <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTerm" />
                        </mat-form-field>
                    </div>
                    <!--                                    <button mat-raised-button color="primary" (click)="openDialogNews(0, 'null')"><mat-icon>add</mat-icon> News</button>-->
                </div>
                <mat-list>
                    <ng-container *ngFor="let data of student | filterUser:searchTerm">
                        <mat-list-item>
                            <button mat-icon-button aria-label="label " (click)="openView(data.student_register_id, 'student') ">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openStudYearResult(data.student_register_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Result">insert_drive_file</mat-icon>
                            </button>
                             <button mat-icon-button aria-label="label" (click)="confirmDelete(data.student_register_id)">
                                    <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <img matListAvatar src="{{image_url}}{{data.profile_image}}" *ngIf="data.profile_image && data.profile_image != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                                 <h4 mat-line>{{data.student_name}}</h4>
                            <!--p mat-line>{{data.email}} | {{data.mobile}} | {{data.practice_medium}}</p-->
                            <p mat-line>{{data.payment_date | date:'dd/MM/yyyy hh:mm a'}}</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>