/* You can add global styles to this file, and also import other style files */
@import './theme';

body {
    margin: 0px;    
}

.mat-sidenav {
    min-width: 250px;
    max-width: 250px;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.detail-card {
    max-width: 22%;
    min-width: 22%;
    float: left;
    margin: 10px;
}

.mat-card-image {
    max-height: 245px;
    height: 245px;
}

.add-btn-container {
    margin: 10px;
    text-align: right;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.align-left {
    text-align: left;
}

.gray-font {
    color: gray;
}

.primary {
    background-color: #ed1c24!important;
}

.primary .mat-list-item {
    color: #ffffff!important;
}

.primary .mat-list-item .mat-icon {
    padding-right: 5px!important;
}

.active-nav {
    background: rgba(0, 0, 0, 0.04);
}

.payment-receipt-img {
    max-height: 100% !important;
    height: auto !important;
    width: 100% !important;
}

.member-profile {
    max-height: 100% !important;
    height: auto !important;
    width: 100% !important;
}

.sort-icon {
    line-height: 16px!important;
    height: 16px!important;
    width: 16px!important;
}

table.member-table {
    width: 100%;
    text-align: left;
}

table.member-table th, td {
    padding: 10px 0;
}