/* You can add global styles to this file, and also import other style files */
@import './theme';

body {
    margin: 0px;    
}

.mat-sidenav {
    min-width: 250px;
    max-width: 250px;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.detail-card {
    max-width: 22%;
    min-width: 22%;
    float: left;
    margin: 10px;
}

.mat-card-image {
    max-height: 245px;
    height: 245px;
}

.add-btn-container {
    margin: 10px;
    text-align: right;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.align-left {
    text-align: left;
}

.gray-font {
    color: gray;
}

.primary {
    background-color: #ed1c24!important;
}

.primary .mat-list-item {
    color: #ffffff!important;
}

.primary .mat-list-item .mat-icon {
    padding-right: 5px!important;
}

.active-nav {
    background: rgba(0, 0, 0, 0.04);
}

.payment-receipt-img {
    max-height: 100% !important;
    height: auto !important;
    width: 100% !important;
}

.member-profile {
    max-height: 100% !important;
    height: auto !important;
    width: 100% !important;
}

.sort-icon {
    line-height: 16px!important;
    height: 16px!important;
    width: 16px!important;
}

table.member-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.member-table th, td {
    padding: 10px;
    border: 1px solid #000;
}

.member-profile-picture img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 15%;
    border-radius: 50%;
}
.member-profile-view img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 90%;  
}

.member-table h2 {
    font-size: 17px !important;
    margin: 0 !important;
}

.preview-image img {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.preview-image {
    position: relative;
    margin-top: 10px;
}

.preview-image button {
    position: absolute;
}

.preview-video video {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.preview-video {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.preview-video button {
    position: absolute;    
}

.news-view-card iframe {
    width: 50%;
    height: 315px;
}

.news_gallery_image {
    width: 20%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.last-login{
    margin: 0;
    background: #4a4a4a;
    color: #ffffff;
    padding: 0px 5px 10px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px;
    text-align: center;
}