/* You can add global styles to this file, and also import other style files */
@import './theme';

body {
    margin: 0px;    
}

.mat-sidenav {
    min-width: 250px 
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.detail-card {
    max-width: 22%;
    min-width: 22%;
    float: left;
    margin: 10px;
}

.mat-card-image {
    max-height: 245px;
    height: 245px;
}

.add-btn-container {
    margin: 10px;
    text-align: right;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.align-left {
    text-align: left;
}

.gray-font {
    color: gray;
}