<h2 mat-dialog-title>Thirukkural</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="kuralForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="33%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>முப்பால்</mat-label>
                    <mat-select required formControlName="muppaal_id">
                        <mat-option [value]="row.muppaal_id" *ngFor="let row of muppaal">
                            {{row.name}}
                    </mat-option>
                </mat-select>
                <mat-error>முப்பால் is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="33%">
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>இயல்கள்</mat-label>
                <mat-select required formControlName="iyal_id">
                    <mat-option [value]="row.iyal_id" *ngFor="let row of iyalkal">
                        {{row.name}}
                </mat-option>
            </mat-select>
            <mat-error>இயல்கள் is required</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="33%">
        <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>அதிகாரங்கள்</mat-label>
            <mat-select required formControlName="adhigaram_id">
                <mat-option [value]="row.adhigaram_id" *ngFor="let row of adhigaram">
                    {{row.name}}
            </mat-option>
        </mat-select>
        <mat-error>அதிகாரங்கள் is required</mat-error>
    </mat-form-field>
</div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
    <div fxFlex="100%">
        <angular-editor id="editor1" formControlName="thirukkural" [config]="editorConfig"></angular-editor>
    </div>
</div>
<br/>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
    <div fxFlex="50%">
         <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Thirukkural No</mat-label>
            <input matInput placeholder="" required formControlName="kural_no" />
            <mat-error>Thirukkural No is required</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="50%">
<!--         <mat-slide-toggle [(ngModel)]="slideToggleModel">Status</mat-slide-toggle>-->
    </div>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button type="submit" [disabled]="loading">Save</button>
    <mat-progress-spinner
        class="example-margin"
        *ngIf="loading"
        [mode]="'indeterminate'"
        [strokeWidth]="3"
        [diameter]="25">
    </mat-progress-spinner>
</div>
</form>
</mat-dialog-content>
