<header class="navbar-fixed" ng-include="'pages/header.html'" ng-controller="HeaderController"></header>
<section class="body-section">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-2 no-padding menu-container">
                <div ng-if="type == 'franchise'" ng-include="'pages/homemenu.html'"></div>
                <div ng-if="type == 'admin'" ng-include="'pages/adminmenu.html'"></div>
            </div>
            <div class="col-md-10 padding-t-b-15">
                <h2>Change Password</h2>
                <form name="submitForm" ng-submit="changePassword();">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="current_password" class="cols-sm-2 control-label">Current password</label>
                                <input class="form-control" type="password" name="current_password" ng-model="form.current_password" id="current_password" required autofocus />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="new_password" class="cols-sm-2 control-label">New password</label>
                                <input class="form-control" type="password" name="current_password" ng-model="form.new_password" id="new_password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="re_new_password" class="cols-sm-2 control-label">Repeat New password</label>
                                <input class="form-control" type="password" name="re_new_password" ng-model="form.re_new_password" id="re_new_password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="text-align: right;">
                                <button ng-disabled="!submitForm.$valid" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>