<header class="navbar-fixed" ng-include="'pages/header.html'" ng-controller="HeaderController"></header>
<section class="body-section">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-2 no-padding" style="width: 20%;">
                <ul class="levels-dropdown">
                    <li class="backto-dashboard" ng-click="goToDashboard();">
                        <img ng-src="images/icon/back-dashboard.jpg" alt="image" />
                    </li>
                    <li ng-repeat="(key, val) in data">
                        <div ng-click="mappingActive(key, '', '');" class="level-one" ng-class="{'active': key === selected_levelone}">
                            <img ng-src="{{key|image}}" class="list-icon" alt="image" /> {{key|name}}
                        </div>
                        <div ng-if="data[key] && notArray(data[key][ke])" ng-repeat="(ke, va) in data[key]">
                            <div ng-click="mappingActive(key, ke, '');" class="level-two" ng-class="{'active': key === selected_levelone && ke === selected_leveltwo, 'hidden': key !== selected_levelone}">
                                <img ng-src="{{ke|image}}" class="list-icon" alt="image" /> {{ke|name}}
                            </div>
                            <div ng-if="data[key][ke] && notArray(data[key][ke][k])" ng-repeat="(k, v) in data[key][ke]">
                                <div ng-click="mappingActive(key, ke, k);" class="level-three" ng-class="{'active':  key === selected_levelone && ke === selected_leveltwo && k === selected_levelthree, 'hidden':  key !== selected_levelone || ke !== selected_leveltwo}">
                                    <img ng-src="{{k|image}}" class="list-icon" alt="image" /> {{k|name}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 no-padding-right" style="width: 80%;">
                <div class="row no-margin">
                    <div class="col-md-8 no-padding">
                        <div class="breadcrumb-section">
                            <span>{{selected_levelone| name}}</span> <span ng-if="selected_leveltwo !== ''">&gt; {{selected_leveltwo| name}}</span> <span ng-if="selected_levelthree !== ''">&gt; {{selected_levelthree| name}}</span>
                        </div>                    
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="program-search">
                            <input type="text" ng-model="search" placeholder="Search" />
                        </div>
                    </div>
                </div>
                <div class="row program-detail-container row-eq-height" style="min-height: calc(100% - 44px);">
                    <div class="col-md-9 no-padding">
                        <div class="text-center" ng-if="mainCurriculam() === '0' || mainCurriculam() === 0">
                            No documents found
                        </div>
                        <div id="framearea" ng-if="mainCurriculam() !== '0' && mainCurriculam() !== 0" style="height: 100%;">
                            <div id="framecover" style="position:absolute; z-index:2; height: 100%; width: 98%">
                                <img ng-src="images/dot.gif" style="width: 100%; height: 100%;" BORDER="0" onmousedown="this.oncontextmenu = new Function('return false')" onmouseup="this.oncontextmenu = new Function('return false')" />
                            </div>
                            <iframe style="height: 100%;" class="curriculam" ng-src="{{mainCurriculamPath() | trustAsResourceUrl}}"></iframe>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding">
                        <ul class="program-level-four-container">
                            <li ng-repeat="(key, row) in curriculam();" ng-class="{'active': key === selected_levelfour}" ng-click="makeActive(key, row[0].ID);">
                                <img style="max-width: 35px;" ng-src="{{row[0].level_four_image| image_url}}" alt="image" uib-popover="{{key}}" popover-trigger="'mouseenter'" popover-placement="right" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 no-padding">
                        <div class="franchise-program-content" ng-repeat="row in contents| filter:search" ng-click="openDocument(row.file, row.extension, row.is_downloadable, row.is_printable, row.template_type, row.ID, row.name);">
                            <img ng-src="{{row.file| image_url}}" alt="image" ng-if="row.extension === 'png' || row.extension === 'jpg' || row.extension === 'gif'" />
                            <img ng-src="images/icon/{{row.extension}}-icon.png" alt="image" ng-if="row.extension !== 'png' && row.extension !== 'jpg' && row.extension !== 'gif'" />
                            <div><small uib-popover="{{row.name}}" popover-trigger="'mouseenter'" popover-placement="top">{{row.name | charlimit:10}}</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="play_media.html">
    <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{data.name}} <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();">
            <span aria-hidden="true">&times;</span>
        </button></h4>
</div>
<div class="modal-body" id="modal-body">
    <div class="row padding-b-10">
        <div class="col-md-12">
            <button ng-click="printDocument();" ng-if="data.print == 1" class="btn btn-primary">Print</button>
            <a ng-href="{{data.file| image_url}}" ng-if="data.download == 1" class="btn btn-danger" download>Download</a>
        </div>
    </div>
    <video style="width: 100%; height: auto;" controls ng-if="data.type === 'mp4' || data.type === 'mov' || data.type === 'wmv'">
        <source ng-src="{{data.file| image_url}}" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <audio style="width: 100%;" controls ng-if="data.type === 'mp3'">
        <source ng-src="{{data.file| image_url}}" type="audio/mpeg" />
        Your browser does not support the audio tag.
    </audio>
    <div id="framecover" style="position:absolute; z-index:2; height: 100%; width: 92%" ng-if="data.type === 'pdf'">
                                <img ng-src="images/dot.gif" style="width: 100%; height: 100%;" BORDER="0" onmousedown="this.oncontextmenu = new Function('return false')" onmouseup="this.oncontextmenu = new Function('return false')" />
                            </div>
    <iframe id="document_window" ng-if="data.type === 'pdf'" style="width: 100%; height: 600px;" src="{{data.file| trustAsResourceUrl}}"></iframe>
    <img id="document_window" ng-if="data.type === 'png' || data.type === 'jpg' || data.type === 'gif' || data.type === 'jpeg'" style="width: 100%; height: auto;" ng-src="{{data.file| image_url}}" />
    <div class="row" ng-if="templates.length > 0">
        <div class="col-md-12" ng-repeat="row in templates">
            <a ng-href="{{row.file | image_url}}" download><img class="preview pointer" ng-if="row.extension === 'mp3' || row.extension === 'mp4' || row.extension === 'pdf' || row.extension === 'xls' || row.extension === 'xlsx' || row.extension === 'doc' || row.extension === 'docx'" ng-src="images/icon/{{row.extension}}-icon.png" alt="image" ng-click="openDocument(row.file, row.extension, row.is_downloadable, row.is_printable, row.template_type, row.ID);" />
                <img class="preview pointer" ng-if="row.extension !== 'mp3' && row.extension !== 'mp4' && row.extension !== 'pdf' && row.extension !== 'xls' && row.extension !== 'xlsx' && row.extension !== 'doc' && row.extension !== 'docx'" ng-src="{{row.file| image_url}}" alt="image" ng-click="openDocument(row.file, row.extension, row.is_downloadable, row.is_printable, row.template_type, row.ID);" /> <span>{{row.name}}</span></a>
        </div>
    </div>
</div>
</script>