<header class="navbar-fixed" ng-include="'pages/header.html'" ng-controller="HeaderController"></header>
<section class="body-section">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-2 no-padding menu-container">
                <div ng-include="'pages/homemenu.html'"></div>
            </div>
            <div class="col-md-8 padding-b-15 col-md-offset-1">
                <h2>Terms & Conditions</h2>
                <div class="terms">
                    <h4>Terms of Service</h4>
                    <p>Curriculum Management Schools Private Limited, is a company incorporated in India. These terms and conditions as well as any other guidelines, rules and additional terms referenced herein, and all such guidelines, terms and rules are hereby incorporated herein by this reference (collectively,"Terms of Service") govern your access to and use of Curriculum Management websites across multiple domain and subdomain names (the "Sites").Your access to and use of the Sites,Content, and/or  Services is expressly conditioned on your compliance with these Terms of Service. By accessing or using the Sites, Content, or Services, you agree to be bound by these Terms of Service. If you are unwilling to be fully and completely bound by these Terms of Service, do not access or use the Sites, Content and/or Services.</p> 
                    <h4>Modification of Terms of Service </h4>
                    <p>You acknowledge and agree that Curriculum Managementmay revise these Terms of Service from time to time, without prior notice.  By continuing to access or use the Sites, Content, or Services after Curriculum Managementmakes any such revision, you agree to be bound by the revised Terms of Service. If any modification is not acceptable to you, your only recourse is to cease using and/or accessing the Sites, Content and Service.</p>
                    <p>You shall refrain from using the proprietary trademarks or copyright and all other intellectual property rights of Curriculum Managementin any manner whatsoever except in cases as approved by Curriculum Managementin writing. </p>
                    <h4>Non-Disclosure </h4>
                    <p>You agree that the confidential information is made in strictest confidence and that:
                    </p><ul><li>You shall not print or copy, in whole or in part, any documents without the prior written consent of the other party.</li>
                        <li>You shall not disclose the Confidential Information to any person or entity without the prior written consent of other party.</li>
                        <li>You shall maintain the Confidential Information as confidential and secret.</li></ul><p></p>
                    <h4>Guard Your Password</h4>
                    <p>You are responsible for safeguarding the password that you use to access the Sites, Content and Services.  You agree not to disclose your password to any third party.  You agree to take sole responsibility for any activities or actions under your password, whether or not you have authorized such activities or actions.  You will immediately notify Curriculum Managementof any loss or unauthorized use of your password.</p>
                    <h4>Termination</h4>
                    <p>If you violate any of these Terms of Services, your permission to use the Sites, Content, and Services will automatically terminate.  Curriculum Managementreserves the right to revoke your access to and use of the Sites, Content, and Services at any time, with or without cause. </p>
                    <h4>Indemnity </h4>
                    <p>You agree to indemnify and hold Curriculum Management, its subsidiaries, directors, affiliates, officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the Sites, Content and/or Services in violation of this Terms of Service and/or arising from a breach of these Terms of Service and/or any breach of your representations and warranties set forth above.. </p>
                    <h4>Severability </h4>
                    <p>In the event that any provision of these Terms of Service is held to be invalid or unenforceable, the remaining provisions of these Terms of Service will remain in full force and effect. </p>
                    <h4>Waiver </h4>
                    <p>The failure of Curriculum Managementto enforce any right or provision of these Terms of Service will not be deemed a waiver of such right or provision. </p>
                    <h4>Controlling Law and Jurisdiction </h4>
                    <p>These Terms of Service and any action related thereto will be governed by the laws of India.  The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms of Service will be the courts of Chennai, State of Tamilnadu, India, and each of the parties hereto waives any objection to jurisdiction and venue in such courts. </p>
                    <h4>Entire Agreement </h4>
                    <p>These Terms of Service are the entire and exclusive agreement between Curriculum Managementand you regarding the Sites, Content, and Services, and these Terms of Service supersede and replace any prior agreements between Curriculum Managementand you regarding the Sites, Content, and Services.</p>
                    <!--<p>If you have any questions about these Terms of Service, please contact Curriculum Managementat <a href="mailto:legal@myarisenshine.com">legal@myarisenshine.com</a></p>-->
                    <p>
                        <label>
                            <input type="checkbox" name="terms" ng-model="terms" ng-disabled="accepted == 1" />
                            I agree to the above terms and conditions.
                        </label>
                    </p>
                    <p ng-if="accepted == 0 || accepted == null">
                        <button ng-disabled="!terms" class="btn btn-primary" ng-click="acceptTerms();">I Agree</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>