<div ng-cloak md-theme="forms">
    <md-content>
        <md-tabs>
            <md-tab label="Center">
                <md-content class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-click="null">
                            <img ng-src="img/logo.png" class="md-avatar" alt="image" />
                            <div class="md-list-item-text" layout="column">
                                <h3>Center Name</h3>
                                <h4>Address</h4>
                                <p>Contact</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-divider ></md-divider>
                </md-content>
            </md-tab>
            <md-tab label="Company">
                <md-content class="md-padding">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-click="null">
                            <img ng-src="img/logo.png" class="md-avatar" alt="image" />
                            <div class="md-list-item-text" layout="column">
                                <h3>Company Name</h3>
                                <h4>Address</h4>
                                <p>Contact</p>
                             </div>
                        </md-list-item>
                    </md-list>
                    <md-divider ></md-divider>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>