<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Unit</button>
        </div>
        <mat-list>
            <ng-container *ngFor="let data of result">
                <mat-list-item>
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.unit_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.unit_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>
                    <h4 mat-line>{{data.name}}</h4>
                    <p mat-line>{{data.status}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
        <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0)" name="sp3" [fullScreen]="false" type="ball-spin-clockwise" color = "#1d94cd"  size="medium" *ngIf="loading"><p style="color: orangered" > Loading... </p></ngx-spinner> -->
        <mat-spinner [diameter]="60"  *ngIf="loading"><p style="color: orangered" > Loading... </p></mat-spinner>

    </mat-sidenav-content>
</mat-sidenav-container>