<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <mat-list>
            <mat-list-item *ngFor="let data of result">
                <button mat-icon-button aria-label="label" (click)="openDialog(data.newsletter_id)">
                    <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="label" (click)="confirmDelete(data.newsletter_id)">
                    <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                </button>
                <h3 matLine>{{data.email}}</h3>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>