<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div class="searchdesign" fxFlex="80%">
                <mat-form-field fxFlex="100%">
                    <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTerm" />
                </mat-form-field>
            </div>
            <div fxFlex="20%">
                <mat-form-field fxFlex="100%">
                    <mat-label>Sort by</mat-label>
                    <mat-select [(ngModel)]="sortdata" (selectionChange)="sortRecords()">
                        <mat-option value="title_a_z">Title A-Z</mat-option>
                        <mat-option value="title_z_a">Title Z-A</mat-option>
                        <mat-option value="created_a_z">Created Date ASC</mat-option>
                        <mat-option value="created_z_a">Created Date DESC</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-list *ngIf="result.length > 0">
            <mat-list-item class="list-container" *ngFor="let data of result | filterMyMember:searchTerm">
                           <button mat-icon-button aria-label="label" (click)="openView(data.member_id)">
                    <mat-icon #tooltip="matTooltip" matTooltip="View">remove_red_eye</mat-icon>
                </button>
                <img matListAvatar src="{{image_url}}{{data.profile_picture}}" *ngIf="data.profile_picture && data.profile_picture != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                     <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.profile_picture || data.profile_picture == ''" alt="image" />
                <h3 matLine>{{data.first_name}}</h3>
                <p matLine>{{data.ic_passport}} - {{data.contact_number}}</p>
                <p matLine>{{data.email}}</p>
            </mat-list-item>
        </mat-list>
        <div *ngIf="result.length == 0" class="section">
            <br/>
            No Member found
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>