<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Inquiry Count</button>
        </div>
        <mat-tab-group (selectedTabChange)="getEnquiryCount($event);">
            <mat-tab *ngFor="let row of year" label="{{row.name}}">
                <mat-card>
                    <table>
                        <tr>
                            <th mat-header-cell> Date </th>
                            <th mat-header-cell *ngFor="let item of classes">{{item.name}}</th>
                            <th mat-header-cell>Total</th>
                        </tr>
                        <ng-container *ngIf="result != null">
                            <tr *ngFor="let item of result | keyvalue">
                                <th mat-header-cell>{{item.key | date:'d/M/y'}}</th>
                                <th mat-header-cell *ngFor="let r of classes"><span *ngIf="result[item.key][r.name]">{{result[item.key][r.name]}}</span><span *ngIf="!result[item.key][r.name]">0</span></th>
                                <th mat-header-cell>{{result[item.key]['total']}}</th>
                            </tr>
                        </ng-container>
                    </table>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>