<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Press Release</button>
        </div>

        <mat-tab-group>
            <mat-tab label="2 Wheeler">
                <mat-list>
                    <ng-container *ngFor="let data of result">
                        <mat-list-item class="list-container">
                             <button mat-icon-button aria-label="label" (click)="openView()">
                                <mat-icon #tooltip="matTooltip" matTooltip="View">remove_red_eye</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.press_release_id,'result')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.press_release_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <img matListAvatar src="{{image_url}}{{data.cover_image}}" *ngIf="data.cover_image && data.cover_image != ''" alt="..." (click)="confirmDialog(data, 'preview')" />
                                 <!--                                         <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.cover_image || data.cover_image == ''" alt="..." />-->
                                 <h3 class="truncate" matLine>{{data.title}}</h3>
                            <p class="truncate1" matLine>{{data.description_1}}</p>     
                            <p class="truncate2" matLine>{{data.press_release_date}}</p> 
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="4 Wheeler">
                <mat-list>
                    <!--                            <ng-container *ngFor="let data of result; let i = index">
                                                    <ng-container *ngIf="result[i]">
                                                    <mat-list-item class="list-container">
                                                         <button mat-icon-button aria-label="label" (click)="openDialog(result[i]['event_id'],'result')">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i]['event_id'])">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>                                    
                                                        <img matListAvatar src="{{image_url}}{{data.cover_image}}" *ngIf="data.cover_image && data.cover_image != ''" alt="..." (click)="confirmDialog(data, 'preview')" />
                                                             <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.cover_image || data.cover_image == ''" alt="..." />
                                                        <h3 class="truncate" matLine>{{data.title}}</h3>
                                                        <p class="truncate1" matLine>{{data.description_1}}</p>     
                                                        <p class="truncate2" matLine>{{data.press_release_date}}</p> 
                                                    </mat-list-item>
                                                         </ng-container>
                                                </ng-container>-->
                </mat-list>
            </mat-tab>
        </mat-tab-group> 
        <!--        <ng-container *ngFor="let data of result; let i = index">
                    <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                        <ng-container *ngIf="result[i]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{result[i]['cover_image']}}" alt="Photo of a Shiba Inu" />
                                <mat-card-content>
                                    <p>
                                        {{result[i]['description_1']}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i]['press_release_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i]['press_release_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 1]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 1]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 1]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{result[i + 1]['cover_image']}}" alt="Photo of a Shiba Inu" />
                                <mat-card-content>
                                    <p>
                                        {{result[i + 1]['description_1']}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 1]['press_release_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 1]['press_release_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 2]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 2]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 2]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{result[i + 2]['cover_image']}}" alt="Photo of a Shiba Inu" />
                                <mat-card-content>
                                    <p>
                                        {{result[i + 2]['description_1']}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 2]['press_release_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 2]['press_release_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 3]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 3]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 3]['news_date']| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="{{image_url}}{{result[i + 3]['cover_image']}}" alt="Photo of a Shiba Inu" />
                                <mat-card-content>
                                    <p>
                                        {{result[i + 3]['description_1']}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 3]['press_release_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 3]['press_release_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </div>            
                    <br/>
                </ng-container>-->
    </mat-sidenav-content>
</mat-sidenav-container>
