<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0)"><mat-icon>add</mat-icon> Press Release</button>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
            
                <mat-card fxFlex="25%">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Sub Title</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            Description
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>panorama</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card fxFlex="25%">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Sub Title</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            Description
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>panorama</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card fxFlex="25%">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Sub Title</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            Description
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>panorama</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            
                <mat-card fxFlex="25%">
                    <mat-card-header>
                        <mat-card-title>Title</mat-card-title>
                        <mat-card-subtitle>Sub Title</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
                    <mat-card-content>
                        <p>
                            Description
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>panorama</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="label">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            
        </div>            
        <br/>
    </mat-sidenav-content>
</mat-sidenav-container>
