<h2 mat-dialog-title>Press Release</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="pressreleaseForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Type</mat-label>
                    <mat-select required formControlName="type">
                        <mat-option [value]="'two_wheel'">
                            2 Wheel
                        </mat-option>
                        <mat-option [value]="'four_wheel'">
                            4 Wheel
                        </mat-option>
                    </mat-select>
                    <mat-error>Club type is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="25%" fxLayoutAlign="center center">
                <button *ngIf="cover_image_path == ''" type="button" mat-raised-button (click)="fileInput.click()">{{cover_image}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event, 'cover_image', 'cover_image_path')" />
                <mat-icon *ngIf="cover_image_path == ''" matTooltip="Width: 1583px, Height: 400px;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
                 <div class="preview-image" *ngIf="cover_image_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{cover_image_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('cover_image_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            </div>
            <div fxFlex="25%">
                <button *ngIf="thumb_image_path == ''" type="button" mat-raised-button (click)="fileInputThumb.click()">{{thumb_image}}</button>
                <input hidden #fileInputThumb type="file" id="file_thumb" (change)="fileProgress($event, 'thumb_image', 'thumb_image_path')" />
                <mat-icon *ngIf="thumb_image_path == ''" matTooltip="Width: 160px, Height: 250px;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
                 <div class="preview-image" *ngIf="thumb_image_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{thumb_image_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('thumb_image_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="" required formControlName="title" />
                    <mat-error>Title is required</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Media</mat-label>
                    <mat-select required formControlName="media">
                        <mat-option [value]="row.media_id" *ngFor="let row of medias">
                            {{row.name}}
                    </mat-option>
                </mat-select>
                <mat-error>Media is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
        <div fxFlex="50%">
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>Author Name</mat-label>
                <input matInput placeholder="" required formControlName="author_name" />
                <mat-error>Author Name is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="outline" fxFlex="100%">
                <input matInput required formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Date is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div fxFlex="100%">
            <mat-form-field appearance="outline" fxFlex="100%">
                <mat-label>YouTube embed ID</mat-label>
                <input matInput placeholder="" formControlName="youtube_id" />
            </mat-form-field>
        </div>
    </div>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayoutAlign="center center">
            <button *ngIf="banner_image_1_path == ''" type="button" mat-raised-button (click)="fileInputBanner1.click()">{{banner_image_1}}</button>
            <input hidden #fileInputBanner1 type="file" id="file_banner_1" (change)="fileProgress($event, 'banner_image_1', 'banner_image_1_path')" />
            <mat-icon *ngIf="banner_image_1_path == ''" matTooltip="Width: 650px, Height: Any;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
             <div class="preview-image" *ngIf="banner_image_1_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{banner_image_1_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('banner_image_1_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="center center">
            <button *ngIf="banner_image_2_path == ''" type="button" mat-raised-button (click)="fileInputBanner2.click()">{{banner_image_2}}</button>
            <input hidden #fileInputBanner2 type="file" id="file_banner_2" (change)="fileProgress($event, 'banner_image_2', 'banner_image_2_path')" />
            <mat-icon *ngIf="banner_image_2_path == ''" matTooltip="Width: 650px, Height: Any;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
             <div class="preview-image" *ngIf="banner_image_2_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{banner_image_2_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('banner_image_2_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
        <div fxFlex="50%">
            <angular-editor id="editor1" formControlName="description" [config]="editorConfig"></angular-editor>
        </div>
        <div fxFlex="50%">
            <angular-editor id="editor2" formControlName="description_1" [config]="editorConfig"></angular-editor>
        </div>
    </div>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayoutAlign="center center">
            <button *ngIf="banner_image_3_path == ''" type="button" mat-raised-button (click)="fileInputBanner1.click()">{{banner_image_3}}</button>
            <input hidden #fileInputBanner1 type="file" id="file_banner_1" (change)="fileProgress($event, 'banner_image_3', 'banner_image_3_path')" />
            <mat-icon *ngIf="banner_image_3_path == ''" matTooltip="Width: 650px, Height: Any;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
             <div class="preview-image" *ngIf="banner_image_1_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{banner_image_3_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('banner_image_3_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="center center">
            <button *ngIf="banner_image_4_path == ''" type="button" mat-raised-button (click)="fileInputBanner2.click()">{{banner_image_4}}</button>
            <input hidden #fileInputBanner2 type="file" id="file_banner_2" (change)="fileProgress($event, 'banner_image_4', 'banner_image_4_path')" />
            <mat-icon *ngIf="banner_image_4_path == ''" matTooltip="Width: 650px, Height: Any;" matTooltipPosition="right" style="cursor: pointer;margin-left: 10px;">info</mat-icon>
             <div class="preview-image" *ngIf="banner_image_2_path != ''">
                <img class="dialog-picture" mat-card-image src="{{image_url}}{{banner_image_4_path}}" alt="Photo" />
                <button mat-icon-button aria-label="Close icon" (click)="removeMedia('banner_image_4_path')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
        <div fxFlex="50%">
            <angular-editor id="editor1" formControlName="description_2" [config]="editorConfig"></angular-editor>
        </div>
        <div fxFlex="50%">
            <angular-editor id="editor2" formControlName="description_3" [config]="editorConfig"></angular-editor>
        </div>
    </div>
    
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button type="submit" [disabled]="loading">Save</button>
        <mat-progress-spinner
            class="example-margin"
            *ngIf="loading"
            [mode]="'indeterminate'"
            [strokeWidth]="3"
            [diameter]="25">
        </mat-progress-spinner>
    </div>
</form>
</mat-dialog-content>