<h2 mat-dialog-title>Press Release</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="pressreleaseForm">
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
            <div fxFlex="100">
                <img src="{{image_url}}{{cover_image_path}}" alt="" style="width: 100%;" />
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
            <div fxFlex="90">
                <mat-card class="example-card news-view-card">
                    <mat-card-title>{{data.title}}</mat-card-title>
                    <br/>
                    <span>{{data.media_id}} | {{data.author_name}} | {{data.press_release_date}}</span>
                    <br/>
                    <br/>
                    <mat-card-content>
                        <p>{{data.description}}</p>
                        <img src="{{image_url}}{{banner_image_1_path}}" alt="" style="width: 100%;" />
                        <br/>
                        <br/>
                        <p>{{data.description_1}}</p>
                        <img src="{{image_url}}{{banner_image_2_path}}" alt="" style="width: 100%;" />
                        <br/>
                        <br/>
                        <h2 *ngIf="data.youtube_id != 'null'">Youtube Video</h2>
                        <iframe *ngIf="data.youtube_id != 'null'" [src]="getYoutubeLink(data.youtube_id)" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br/>
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
        </div>
    </form>
</mat-dialog-content>