<div class="text-center">
    <img src="assets/logo.png" alt="image" />
</div>
<mat-list class="login-user-bg">
    <mat-list-item>
        <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.avatar || data.avatar == ''" alt="" />
        <img matListAvatar src="{{image_url}}{{data.avatar}}" *ngIf="data.avatar && data.avatar != ''" alt="user_profile_image" />
        <h4 matLine>{{data.name}}</h4>
        <p matLine>{{data.role | titlecase}}</p>
    </mat-list-item>
    <p class="last-login" *ngIf="data.last_login && data.last_login != '0000-00-00 00:00:00'">Last Login: {{data.last_login | date: 'dd-MM-yyyy hh:mm:ss'}}</p>
</mat-list>
<!--<mat-nav-list fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center" class="user-nav-info">
    <div mat-list-item fxFlex="20">
        <img matListAvatar src="{{image_url}}{{data.gender}}.jpg" *ngIf="!data.avatar || data.avatar == ''" alt="" />
        <img matListAvatar src="{{image_url}}{{data.avatar}}" *ngIf="data.avatar && data.avatar != ''" alt="user_profile_image" />
    </div>
    <div class="user-info" mat-list-item fxFlex="80">
        <h4>{{data.name}}</h4>
        <p>{{data.role | titlecase}}</p>
    </div>
</mat-nav-list>-->

<mat-nav-list>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/dashboard" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>dashboard</mat-icon> Toowheel Dashboard
    </a>
    <a mat-list-item routerLinkActive="active-nav"  *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>poll</mat-icon> Analytics
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/config" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>pages</mat-icon> Pages
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/advertisement" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>picture_in_picture</mat-icon> Advertisement
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/category" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>category</mat-icon> Category
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/media" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>wallpaper</mat-icon> Media
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/club" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>store_mall_directory</mat-icon> Club
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/member" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>person</mat-icon> Members
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/news" *ngIf="data.role != 'club'">
        <mat-icon>post_add</mat-icon> News
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clubevent" *ngIf="data.role != 'club' && data.role != 'Editor'">
        <mat-icon>event_note</mat-icon> Event
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/press-release" *ngIf="data.role != 'club' && data.role != 'Editor'">
        <mat-icon>event_note</mat-icon> Press Release
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/gallery" *ngIf="data.role != 'club' && data.role != 'Editor'">
        <mat-icon>perm_media</mat-icon> Gallery
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/newsletter" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>email</mat-icon> News Letter
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/users" *ngIf="data.role != 'Admin' && data.role != 'Editor' && data.role != 'club'">
       <mat-icon>person_outline</mat-icon> Users
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/workshop" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>home_work</mat-icon> Workshop
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/asset" *ngIf="data.role != 'Editor' && data.role != 'club'">
       <mat-icon>web_asset</mat-icon> Asset
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/myclub" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>web_asset</mat-icon> My club
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/mynews" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>post_add</mat-icon> News
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/myevent" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>event_note</mat-icon> Events
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/myannouncement" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>hearing</mat-icon> Announcements
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/mygallery" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>perm_media</mat-icon> Gallery
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/mymember" *ngIf="data.role == 'club' && data.role != 'Editor'">
        <mat-icon>person</mat-icon> Members
    </a>
</mat-nav-list>