.user-nav-info {
    padding: 0 6px;
}

.user-nav-info img {
    width: 100%;
    border-radius: 25px
}

.user-info {
    padding: 0 10px;
}
.user-info h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.user-info p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}