<div class="text-center">
    <img src="assets/logo.png" alt="image" />
</div>
<mat-nav-list>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/config">
        <mat-icon>settings_applications</mat-icon> Config
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/category">
        <mat-icon>category</mat-icon> Category
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/media">
        <mat-icon>wallpaper</mat-icon> Media
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/club">
        <mat-icon>store_mall_directory</mat-icon> Club
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/member">
        <mat-icon>person</mat-icon> Members
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/news">
        <mat-icon>post_add</mat-icon> News
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clubevent">
        <mat-icon>event_note</mat-icon> Event
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/press-release">
        <mat-icon>event_note</mat-icon> Press Release
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/advertisement">
        <mat-icon>picture_in_picture</mat-icon> Advertisement
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/gallery">
        <mat-icon>perm_media</mat-icon> Gallery
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/newsletter">
        <mat-icon>email</mat-icon> News Letter
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/users">
        <mat-icon>person_outline</mat-icon> Users
    </a>
    <!--
    <a mat-list-item routerLinkActive="active-nav" routerLink="/vendor">
        <mat-icon>verified_user</mat-icon> Vendor
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/business">
        <mat-icon>how_to_reg</mat-icon> T-Shirt
    </a>
    <a mat-list-item routerLink="/point"> 
        <mat-icon>card_giftcard</mat-icon> Point
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clubdashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clublanding">
        <mat-icon>landscape</mat-icon> Landing Page
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clubgallery">
        <mat-icon>perm_media</mat-icon> Gallery
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/clubnews">
        <mat-icon>post_add</mat-icon> News
    </a>
    -->
</mat-nav-list>
