.color-black {
    color: #000 !important;
}
.text-cen {
    text-align: center !important;
    width: 100% !important;
}
.bg-pic {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-b {
    background: #20b9ec;
}
.input-box {
    padding: 0px 20px;
}
.sub-submit {
    padding: 12px 0px;
    background: #8045ad;
    border-radius: 4px;
    text-align: center;
    margin-top: 6px;
    color: #ffffff;
    box-shadow: 3px 2px 3px 0px #c3c3c3;
    border-style: none;
    cursor: pointer;
    width: 100%;
}
.sub-submit:hover {
    transition: all 0.3s linear;
    /* padding: 4px 32px; */
    background: #ffffff;
    border-radius: 0;
    /* text-align: center; */
    color: #20b9ec;
    box-shadow: 0px 0px 0px 0px #EEE;
    border-style: none;
}
video#vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 110px;
}
.overlay {
    position: absolute;
    /*    display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*    background-color: rgba(0,0,0,0.5);*/
    z-index: 2;
    cursor: pointer;
}


.bg-enquiry {
    background: #00659c;
}
.req
{
    padding: 0px 0px 60px 5px !important;
}
input::placeholder {
    color: #868e96 !important;
    font-size: 13px !important;
}
.features {
    padding: 100px 0;
}

.box {
    padding: 20px;
    background: #ffffff33;
    box-shadow: 3px 4px 4px 0px #20b9ec;
    height: 511px;
}

.box-1 {
    box-shadow: 0 0 14px 9px #eee;
    padding: 20px;
    height: 250px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    /*border-radius: 4px;  Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    /*border-radius: 4px;  Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit]:hover {
    background-color: #45a049;
}

#popup_this {
    top: 50%;
    left: 50%;
    text-align:center;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
    background: #fff;
    padding: 30px;
}
.b-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background: #ff0000;
    padding: 5px 0px;
    width: 35px;
    height: 35px;
}

.modal-dialog {
    background: #fff;
    padding: 20px;
    max-width: 50%;
}
.text-bg     {
    background: #f5f5f599;
    padding: 36px 31px;
}
.color-purple {
    color: #9c20b3 !important;
}
.text-bg p{
    color: #000 !important;
}
.text-bg h3{
    font-size: 33px !important;
}
.text-bg span{
    color: #00659c;
}
.list-1 li{
    position: relative;
    padding: 5px 0px 7px 27px;
    margin-top: -36px;
    color: #0b0b0b;
    font-weight: 500;
}
.list-1 i{

    color: #9c20b3;

}
.pad-20 {
    padding: 30px 0px 30px 0px;
}
.pad-t-50 {
    padding: 50px 0px 0px 0px ;
}
.bg-p{
    background: #9c20b3;
}
.margin-top-50{
    margin-top: 50px;
}

.main_slider_shapes img {
    border: 6px solid #ba59e7;
}
.join
{
    padding: 10px 27px;
    color: #fff;
    background: #20b9ec;
    border-style: none;
}
.bg-p p{
    margin: 0px !important;
    padding: 4px;
}
.sub-img {
    position: relative;
    margin-top: -91px;
    /* outline-offset: 6px; */
    border: 1px solid #fbfbfbed;
    /* outline: 1px solid #ffffff; */
    border-radius: 40px 0px;
    background: #ececec96;
    padding: 12px;
    box-shadow: -1px -1px 8px 0px #8045ad;
}

.features_item {
    box-shadow: -1px 4px 15px 11px #eee;
    padding: 20px;
    height: 335px;
}



/* The Modal (background) */
.modal-1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close-1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-1:hover,
.close-1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal-body-1 {padding: 2px 16px;}

#myBtn {
    cursor: pointer;
}
