.color-black {
    color: #000 !important;
}
.text-cen {
    text-align: center !important;
    width: 100% !important;
}
.bg-pic {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-b {
    background: #20b9ec;
}
.input-box {
    padding: 0px 20px;
}
.sub-submit{
    padding: 14px 0px;
    background: #20b9ec;
    border-radius: 4px;
    text-align: center;
    /*width: 100%;*/
    color: #ffffff;
    box-shadow: 3px 2px 12px 0px #c3c3c3;
    border-style: none;
    cursor: pointer;
    width: 25%;
}
.sub-submit:hover {
    transition: all 0.3s linear;
    /* padding: 4px 32px; */
    background: #ffffff;
    border-radius: 0;
    /* text-align: center; */
    width: 25%;
    color: #20b9ec;
    box-shadow: 0px 0px 0px 0px #EEE;
    border-style: none;
}
video#vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 110px;
}
.overlay {
    position: absolute;
    /*    display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*    background-color: rgba(0,0,0,0.5);*/
    z-index: 2;
    cursor: pointer;
}


.bg-enquiry {
    background: #00659c;
}
.req
{
    padding: 0px 0px 60px 5px !important;
}
input::placeholder {
    color: #868e96 !important;
    font-size: 13px !important;
}
.features {
    padding: 100px 0;
}

.box {
    padding: 20px;
    background: #ffffff33;
    box-shadow: 3px 4px 4px 0px #20b9ec;
    height: 511px;
}

.box-1 {
    box-shadow: 0 0 14px 9px #eee;
    padding: 20px;
    height: 250px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit]:hover {
    background-color: #45a049;
}