.color-black {
    color: #000 !important;
}
.text-cen {
    text-align: center !important;
    width: 100% !important;
}
.bg-pic {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-b {
    background: #20b9ec;
}
.input-box {
    padding: 0px 20px;
}
.sub-submit  {
    padding: 0px 0px;
    background: #00659c;
    border-radius: 4px;
    text-align: center;
    /* margin-top: 6px; */
    color: #ffffff;
    box-shadow: 3px 2px 3px 0px #c3c3c3;
    border-style: none;
    cursor: pointer;
    width: 100%;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 300;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 6.7px;
}
/*.sub-submit:hover {
    transition: all 0.3s linear;
     padding: 4px 32px; 
    background: #ffffff;
    border-radius: 0;
     text-align: center; 
    color: #20b9ec;
    box-shadow: 0px 0px 0px 0px #EEE;
    border-style: none;
}*/
video#vid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 110px;
}
.overlay {
    position: absolute;
    /*    display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
    cursor: pointer;
}


.bg-enquiry {
    background: #00659c;
}
.req
{
    padding: 0px 0px 60px 5px !important;
}
input::placeholder {
    color: #868e96 !important;
    font-size: 15px !important;
}
.features {
    padding: 45px 0 50px;
}

.box {
    padding: 20px;
    background: #ffffff33;
    box-shadow: 3px 4px 4px 0px #20b9ec;
    height: 511px;
}

.box-1 {
    box-shadow: 0 0 14px 9px #eee;
    padding: 20px;
    height: 250px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    /*border-radius: 4px;  Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    margin: 0 0 20px 0;
}

input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    /*border-radius: 4px;  Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    margin: 0 0 20px 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#popup_this {
    top: 50%;
    left: 50%;
    text-align:center;
    margin-top: -50px;
    margin-left: -100px;
    position: fixed;
    background: #fff;
    padding: 30px;
}
.b-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    background: #ff0000;
    padding: 5px 0px;
    width: 35px;
    height: 35px;
}

.modal-dialog {
    background: #fff;
    padding: 20px;
    max-width: 50%;
}
.text-bg     {
    background: rgba(245, 245, 245, 0.7);
    padding: 36px 31px;
    border: 4px solid #fff;
}
.color-purple {
    color: #20b9ec  !important;
}
.text-bg p{
    color: #000 !important;
}
.text-bg h3{ 
    font-size: 33px !important;
    color: #80358e  !important;
    font-weight: 600;
}
.text-bg span{
    color: #00659c;
}
.list-1 li{
    position: relative;
    padding: 5px 0px 7px 27px;
    margin-top: -36px;
    color: #6e6e6e;
    font-weight: 500;
}
.list-1 i{

    color: #9c20b3;

}
.pad-20 {
    padding: 30px 0px 30px 0px;
}
.pad-t-50 {
    padding: 50px 0px 0px 0px ;
}
.bg-p{
    background: #0d020ead;
}
.margin-top-50{
    margin-top: 50px;
}

/*.main_slider_shapes img {
    border: 6px solid #ba59e7;
}*/
.join
{
    padding: 10px 27px;
    color: #fff;
    background: #20b9ec;
    border-style: none;
}
.bg-p p{
    margin: 10px !important;
    padding: 10px;
}
.sub-img {
    position: relative;
    margin-top: -91px;
    /* outline-offset: 6px; */
    border: 1px solid #fbfbfbed;
    /* outline: 1px solid #ffffff; */
    border-radius: 40px 0px;
    background: #ececec96;
    padding: 12px;
    box-shadow: -1px -1px 8px 0px #8045ad;
}

.box-2 {
    box-shadow: -1px 4px 15px 11px #eee;
    padding: 20px;
    height: 527px;
    margin-bottom: 20px;
}
.box-3 {
    box-shadow: -1px 4px 15px 11px #eee;
    /*padding: 20px;*/
    height: auto;
    margin-bottom: 20px;
}



/* The Modal (background) */
.modal-1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close-1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-1:hover,
.close-1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

/* Modal Body */
.modal-body-1 {padding: 2px 16px;}

#myBtn {
    cursor: pointer;
}
.sub-submit-1 {
    padding: 12px 0px;
    background: #21b9ec;
    border-radius: 4px;
    text-align: center;
    margin-top: 6px;
    color: #ffffff;
    /* box-shadow: 3px 2px 3px 0px #c3c3c3; */
    border-style: none;
    cursor: pointer;
    width: 30%;

    font-size: 11px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 6.7px;

}
textarea::placeholder {
    color: #868e96 !important;
    font-size: 15px !important;
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        max-width: 100%;
    }
    .modal-content-1 {
        width: 100%;
    }
    .modal-body-1 h2 {
        font-size: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nav_items li a {
        padding-left: 4px;
        padding-right: 4px;
        letter-spacing: 1.5px;
    }
}

.subscribe h2 {
    font-size: 26px;
    font-weight: 600;
}

.subscribe h4 {
    font-size: 22px;
    font-weight: 600;
    color: #7af4ff;
}

.button-1 {
    border-radius: 4px;
    background-color: #20b9ec;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px 40px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-1:hover span {
    padding-right: 25px;
}

.button-1:hover span:after {
    opacity: 1;
    right: 0;
}

.button-2 {
    border-radius: 4px;
    background-color: #9c20b3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 8px 40px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    /*    margin: 5px;*/
}

.button-2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-2:hover span {
    padding-right: 25px;
}

.button-2:hover span:after {
    opacity: 1;
    right: 0;
}

.form-1 {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 4px solid #fff;
}

.form-1 h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
#ac-wrapper {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, .6); */
    z-index: 99999;
    overflow: scroll;
}
.modal-dialog {
    pointer-events: auto !important;
}
.clo {
    /* float: right; */
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    position: relative;
    left: 95%;
    cursor: pointer;
}

.fs_menu_container {
    z-index: 9999;
}

.hamburger_container {
    z-index: 9999
}
.margin-t-22 {
    margin-top: 22px !important;
}
.img-2  {
    width: 100%;
    height: auto;
    padding: 3px;
    background: #20b9ece0;
    border: 1px solid #d2cbcb;
    border-radius: 50%;
}
.close-2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -27px;
}

.close-2:hover,
.close-2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.form-2 input{
    margin: 0px 0px 0px 0px !important;
}
.form-2 textarea{
    margin: 0px 0px 0px 0px !important;
}
.img-b {
    position: absolute;
    top: -23px;
    left: -11px;
    z-index: 9;
    width: 65px;
    height: 65px;
    border-radius: 0px 100px 100px 100px;
    padding: 5px;
    background: #21b9ec;
}
.arrow-1 i {
    font-size: 20px;
    color: #9c20b3;
}
.margin-t-28 {
    margin-top: 28px;
}
.font-16{
    font-size: 16px !important;
}
/*<!-- silk-slide -->*/
.rio-promos {
    max-width: 1000px;
    margin: 0 auto;
}
.slick-slide {
    margin: 0 5px;
}
.slick-list {
    margin: 0px -5px 0px -5px;
}
/*button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}*/
/*button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}*/
.slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}
.rio-promos img {
    padding: 3px;
    margin: auto;
    height: 125px;
    /* border: 1px solid #d0d0d0; */
    /*    background: #21b9ec;*/
}

.rio-promos {
    text-align: center;
}

.rio-promos h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    background: #fff;
    height: 250px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
    src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.box-4 {
    box-shadow: -1px 4px 15px 11px #eee;
    padding: 20px;
    height: 400px;
    margin-bottom: 20px;
}
.box-4 h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.box-4 p {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.mega-menu {
    position: fixed;
    top: 114px;
    min-width: 50% !important;
    left: 187px;
    width: 66%;
}

.fs_menu_container-1 {

    text-align:left !important; 

}

.home_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.prlx {
    height: 130% !important;
}

.sub-bg {
    width: 100%;
    height: 386px;
    margin-top: 110px;
}
.prlx_parent {
    overflow: hidden;
}

.services_page_shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    pointer-events: none;
}

.home_content {
    margin-top: 154px;
}

.home_content h1 {
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.home_content span {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 1em;
    text-transform: uppercase;
    padding-left: 3px;
}

/*
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 

}

.scale-anm {
    transform: scale(1);
}


p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

}

.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.scale-anm {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.45);
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 360px;
}

.blog-title {
    padding: 15px 22px;
    height: 75px;
    display: block !important;
}

.blog-title a{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.blog-title a:hover {
    text-decoration: underline;
}*/

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.box-5 img {
    padding: 10px;
    background: #20b9ec26;
    box-shadow: 0px 0px 10px 0px #afacac;
    width: 100%;
}
.bg-g {
    background: #ccccccad;
}
.sub-list {
    padding: 0px 0px 0px 65px;

}
.sub-list li {
    position: relative;
    padding: 5px 0px 7px 20px;
    margin-top: -34px;
    color: #6e6e6e;
    font-weight: 500;
}
.sub-list  i {
    color: #9c20b3;
    font-size: 12px;
}

.box-7 img {
    border: 1px solid #20b9ec;
    box-shadow: 0px 0px 7px 0px #20b9ec;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -99px;
}
.testimoni h4:after
{
    display: block;
    position: absolute;
    width: 160px;
    height: 2px;
    content: '';
    background: #80358e;
    margin-top: 1px;
    color: #20b9ec;
}
.testimoni h5
{
    color: #20b9ec;
}
audio {
    margin-bottom: 10px;
    /* color: #b74242; */
    background: #f3f3f3;
    width: 100%;
}
.audio h2:after
{
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    content: '';
    background: #80358e;
    margin-top: 1px;
    color: #20b9ec;
    left: 50%;
    margin-left: -50px;
}
.audio .audio-1:after
{
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background: #80358e;
    margin: 10px 0px;
}
.pad-f-video .d-flex {
    padding: 5px;
}
.audio-bg {
    background:#e6e6e6;
}
.pad-f-15 {
    padding:15px;
}
.text-size-1 h3{
    font-size: 23px;
    font-weight: 600;
}

.text-bg-1 {
    background: rgb(255, 255, 255);
    padding: 36px 31px;
    box-shadow: 0 0 20px 10px #eee;
}

.contact-details {
    box-shadow: 0 0 20px 10px #eee;
    padding: 36px 31px;
    margin-bottom: 20px
}
.height-435{
    height: 435px !important;
}
.coach-box {
    box-shadow: -1px 4px 15px 11px #eee;
    padding: 20px;
    height: 400px;
    margin-bottom: 20px;
}
