<div class="signin-content">
    <mat-card style="padding: 0px;">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <mat-card-content style="padding: 16px;">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1 class="text-center logo">
                    <img src="http://ec2-13-233-145-114.ap-south-1.compute.amazonaws.com/toowheel/admin/assets/login-logo.png" alt="image" />
                </h1>
                <h1>Login</h1>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>User Name</mat-label>
                        <input matInput placeholder="" required formControlName="username" />
                    <mat-error>Username is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="" required formControlName="password" />
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
                <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>