<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0)"><mat-icon>add</mat-icon> Gallery</button>
        </div>
        <mat-tab-group>
            <mat-tab label="Images">
                <mat-list>
                    <ng-container *ngFor="let data of result">
                        <mat-list-item class="list-container" *ngIf="data.media_type === 'image'">
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.club_gallery_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.club_gallery_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <img matListAvatar src="{{image_url}}{{data.media_path}}" *ngIf="data.media_path && data.media_path != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                                 <h3 matLine>{{data.title}}</h3>
                            <p matLine>{{data.description}}</p>                                   
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
            <mat-tab label="Videos">               
                <mat-list>
                    <ng-container *ngFor="let data of result">
                        <mat-list-item class="list-container" *ngIf="data.media_type === 'video'">
                            <button mat-icon-button aria-label="label" (click)="openDialog(data.club_gallery_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDialog(data, 'preview_video')">
                                <mat-icon #tooltip="matTooltip" matTooltip="Preview">videocam</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(data.club_gallery_id)">
                                <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                            </button>
                            <img matListAvatar src="{{image_url}}{{data.media_path}}" *ngIf="data.media_path && data.media_path != ''" alt="image" (click)="confirmDialog(data, 'preview_thumb')" />
                                 <h3 matLine>{{data.title}}</h3>
                            <p matLine>{{data.description}}</p>                                   
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
