<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Gallery</button>
        </div>
        <mat-tab-group>
            <mat-tab label="2 Wheeler">
                <ng-container *ngFor="let data of result; let i = index">
                    <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                        <ng-container *ngIf="result[i]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i]['media_type']|uppercase}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image *ngIf="result[i]['media_type'] === 'image'" src="{{image_url}}{{result[i]['media_path']}}" alt="Photo" />
                                     <video mat-card-image controls *ngIf="result[i]['media_type'] === 'video'">
                                     <source src="{{image_url}}{{result[i]['media_path']}}" type="video/mp4" />
                                </video>
                                     <mat-card-content>
                            <p>
                                {{result[i]['description']}}
                            </p>
                        </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i]['gallery_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i]['gallery_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 1]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 1]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 1]['media_type']|uppercase}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image *ngIf="result[i + 1]['media_type'] === 'image'" src="{{image_url}}{{result[i + 1]['media_path']}}" alt="Photo" />
                                     <video mat-card-image controls *ngIf="result[i + 1]['media_type'] === 'video'">
                                     <source src="{{image_url}}{{result[i + 1]['media_path']}}" type="video/mp4" />
                                </video>
                                     <mat-card-content>
                            <p>
                                {{result[i + 1]['description']}}
                            </p>
                        </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 1]['gallery_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 1]['gallery_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 2]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 2]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 2]['media_type']|uppercase}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image *ngIf="result[i + 2]['media_type'] === 'image'" src="{{image_url}}{{result[i + 2]['media_path']}}" alt="Photo" />
                                     <video mat-card-image controls *ngIf="result[i + 2]['media_type'] === 'video'">
                                     <source src="{{image_url}}{{result[i + 2]['media_path']}}" type="video/mp4" />
                                </video>
                                     <mat-card-content>
                            <p>
                                {{result[i + 2]['description']}}
                            </p>
                        </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 2]['gallery_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 2]['gallery_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                        <ng-container *ngIf="result[i + 3]">
                            <mat-card fxFlex="25%">
                                <mat-card-header>
                                    <mat-card-title>{{result[i + 3]['title']}}</mat-card-title>
                                    <mat-card-subtitle>{{result[i + 3]['media_type']|uppercase}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image *ngIf="result[i + 3]['media_type'] === 'image'" src="{{image_url}}{{result[i + 3]['media_path']}}" alt="Photo" />
                                     <video mat-card-image controls *ngIf="result[i + 3]['media_type'] === 'video'">
                                     <source src="{{image_url}}{{result[i + 3]['media_path']}}" type="video/mp4" />
                                </video>
                                     <mat-card-content>
                            <p>
                                {{result[i + 3]['description']}}
                            </p>
                        </mat-card-content>
                                <mat-card-actions>
                                    <button mat-icon-button aria-label="label" (click)="openDialog(result[i + 3]['gallery_id'], 'result')">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label="label" (click)="confirmDelete(result[i + 3]['gallery_id'])">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </ng-container>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab label="4 Wheeler">
            <ng-container *ngFor="let data of result_four_wheel; let i = index">
            <div fxLayout="row" *ngIf="i % 4 == 0" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="start start">
                <ng-container *ngIf="result_four_wheel[i]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result_four_wheel[i]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result_four_wheel[i]['media_type']|uppercase}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image *ngIf="result_four_wheel[i]['media_type'] === 'image'" src="{{image_url}}{{result_four_wheel[i]['media_path']}}" alt="Photo" />
                             <video mat-card-image controls *ngIf="result_four_wheel[i]['media_type'] === 'video'">
                             <source src="{{image_url}}{{result_four_wheel[i]['media_path']}}" type="video/mp4" />
                        </video>
                             <mat-card-content>
                            <p>
                                {{result_four_wheel[i]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result_four_wheel[i]['gallery_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result_four_wheel[i]['gallery_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result_four_wheel[i + 1]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result_four_wheel[i + 1]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result_four_wheel[i + 1]['media_type']|uppercase}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image *ngIf="result_four_wheel[i + 1]['media_type'] === 'image'" src="{{image_url}}{{result_four_wheel[i + 1]['media_path']}}" alt="Photo" />
                             <video mat-card-image controls *ngIf="result_four_wheel[i + 1]['media_type'] === 'video'">
                             <source src="{{image_url}}{{result_four_wheel[i + 1]['media_path']}}" type="video/mp4" />
                        </video>
                             <mat-card-content>
                            <p>
                                {{result_four_wheel[i + 1]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result_four_wheel[i + 1]['gallery_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result_four_wheel[i + 1]['gallery_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result_four_wheel[i + 2]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result_four_wheel[i + 2]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result_four_wheel[i + 2]['media_type']|uppercase}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image *ngIf="result_four_wheel[i + 2]['media_type'] === 'image'" src="{{image_url}}{{result_four_wheel[i + 2]['media_path']}}" alt="Photo" />
                             <video mat-card-image controls *ngIf="result_four_wheel[i + 2]['media_type'] === 'video'">
                             <source src="{{image_url}}{{result_four_wheel[i + 2]['media_path']}}" type="video/mp4" />
                        </video>
                             <mat-card-content>
                            <p>
                                {{result_four_wheel[i + 2]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result_four_wheel[i + 2]['gallery_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result_four_wheel[i + 2]['gallery_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-container *ngIf="result_four_wheel[i + 3]">
                    <mat-card fxFlex="25%">
                        <mat-card-header>
                            <mat-card-title>{{result_four_wheel[i + 3]['title']}}</mat-card-title>
                            <mat-card-subtitle>{{result_four_wheel[i + 3]['media_type']|uppercase}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image *ngIf="result_four_wheel[i + 3]['media_type'] === 'image'" src="{{image_url}}{{result_four_wheel[i + 3]['media_path']}}" alt="Photo" />
                             <video mat-card-image controls *ngIf="result_four_wheel[i + 3]['media_type'] === 'video'">
                             <source src="{{image_url}}{{result_four_wheel[i + 3]['media_path']}}" type="video/mp4" />
                        </video>
                             <mat-card-content>
                            <p>
                                {{result_four_wheel[i + 3]['description']}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button aria-label="label" (click)="openDialog(result_four_wheel[i + 3]['gallery_id'], 'result')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="label" (click)="confirmDelete(result_four_wheel[i + 3]['gallery_id'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
            </div>
        </ng-container>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
