<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Gallery</button>
        </div>
        <mat-tab-group>
            <mat-tab label="2 Wheeler">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Images
                            </mat-panel-title>                          
                        </mat-expansion-panel-header>
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermTW" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_tw" (selectionChange)="sortRecords('result', sortdata_tw)">
                                            <mat-option value="title_a_z">Title A-Z</mat-option>
                                            <mat-option value="title_z_a">Title Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section> 
                        <mat-list>
                            <ng-container *ngFor="let data of result | filterEventgallery:searchTermTW;let i = index">
                                <ng-container *ngIf="data.media_type === 'image'">
                                    <mat-list-item class="list-container">
                                        <button mat-icon-button aria-label="label" (click)="openDialog(data.gallery_id, 'result')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDelete(data.gallery_id)">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 0" (click)="makeAsSpecial('image', 1, 'isflag', data.gallery_id, 'two_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Make Hot Gallery">outlined_flag</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 1" (click)="makeAsSpecial('image', 0, 'isflag', data.gallery_id, 'two_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Remove From Hot Gallery">flag</mat-icon>
                                        </button>
                                        <img matListAvatar src="{{image_url}}{{data.media_path}}" *ngIf="data.media_path" alt="image" (click)="confirmDialog(data, 'preview')" />
                                        <h3 matLine>{{data.title}}</h3>
                                        <p matLine>{{data.description}}</p>
                                    </mat-list-item>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Videos
                            </mat-panel-title>                            
                        </mat-expansion-panel-header>
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermTWV" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_twv" (selectionChange)="sortRecords('result', sortdata_twv)">
                                            <mat-option value="title_a_z">Title A-Z</mat-option>
                                            <mat-option value="title_z_a">Title Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section> 
                        <mat-list>
                            <ng-container *ngFor="let data of result | filterEventgallery:searchTermTWV;let i = index">
                                <ng-container *ngIf="data.media_type === 'video'">
                                    <mat-list-item class="list-container">
                                        <button mat-icon-button aria-label="label" (click)="openDialog(data.gallery_id, 'result')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDialog(data, 'preview_video')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Preview">videocam</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDelete(data.gallery_id)">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 0" (click)="makeAsSpecial('video', 1, 'isflag', data.gallery_id, 'two_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Make Hot Gallery">outlined_flag</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 1" (click)="makeAsSpecial('video', 0, 'isflag', data.gallery_id, 'two_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Remove From Hot Gallery">flag</mat-icon>
                                        </button>
                                        <img matListAvatar src="{{image_url}}{{data.thumb_path}}" *ngIf="data.thumb_path" alt="image" (click)="confirmDialog(data, 'preview_thumb')" />
                                        <h3 matLine>{{data.title}}</h3>
                                        <p matLine>{{data.description}}</p>                                   
                                    </mat-list-item>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
            <mat-tab label="4 Wheeler">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Images
                            </mat-panel-title>                          
                        </mat-expansion-panel-header>
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFW" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_fw" (selectionChange)="sortRecords('result_four_wheel', sortdata_fw)">
                                            <mat-option value="title_a_z">Title A-Z</mat-option>
                                            <mat-option value="title_z_a">Title Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section>
                        <mat-list>
                            <ng-container *ngFor="let data of result_four_wheel | filterEventgallery:searchTermFW; let i = index">
                                <ng-container *ngIf="data.media_type === 'image'">
                                    <mat-list-item class="list-container">
                                        <button mat-icon-button aria-label="label" (click)="openDialog(data.gallery_id, 'result_four_wheel')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDelete(data.gallery_id)">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 0" (click)="makeAsSpecial('image', 1, 'isflag', data.gallery_id, 'four_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Make Hot Gallery">outlined_flag</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 1" (click)="makeAsSpecial('image', 0, 'isflag', data.gallery_id, 'four_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Remove From Hot Gallery">flag</mat-icon>
                                        </button>
                                        <img matListAvatar src="{{image_url}}{{data.media_path}}" *ngIf="data.media_path" alt="image" (click)="confirmDialog(data, 'preview')" />
                                        <h3 matLine>{{data.title}}</h3>
                                        <p matLine>{{data.description}}</p>
                                    </mat-list-item>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Videos
                            </mat-panel-title>                            
                        </mat-expansion-panel-header>
                        <section class="section">
                            <br/>                     
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
                                <div class="searchdesign" fxFlex="50%">
                                    <mat-form-field [floatLabel]="'never'" fxFlex="100%">
                                        <input matInput type="text" placeholder="Search by name" [(ngModel)]="searchTermFWV" />
                                    </mat-form-field>
                                </div>
                                <div fxFlex="20%">
                                    <mat-form-field fxFlex="100%">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [(ngModel)]="sortdata_fwv" (selectionChange)="sortRecords('result_four_wheel', sortdata_fwv)">
                                            <mat-option value="title_a_z">Title A-Z</mat-option>
                                            <mat-option value="title_z_a">Title Z-A</mat-option>
                                            <mat-option value="created_a_z">Created Date ASC</mat-option>
                                            <mat-option value="created_z_a">Created Date DESC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </section>
                        <mat-list>
                            <ng-container *ngFor="let data of result_four_wheel | filterEventgallery:searchTermFWV; let i = index">
                                <ng-container *ngIf="data.media_type === 'video'">
                                    <mat-list-item class="list-container">
                                        <button mat-icon-button aria-label="label" (click)="openDialog(data.gallery_id, 'result_four_wheel')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDialog(data, 'preview_video')">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Preview">videocam</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" (click)="confirmDelete(data.gallery_id)">
                                            <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 0" (click)="makeAsSpecial('video', 1, 'isflag', data.gallery_id, 'four_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Make Hot Gallery">outlined_flag</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="label" *ngIf="data.isflag == 1" (click)="makeAsSpecial('video', 0, 'isflag', data.gallery_id, 'four_wheel')">
                                                <mat-icon #tooltip="matTooltip" matTooltip="Remove From Hot Gallery">flag</mat-icon>
                                        </button>
                                        <img matListAvatar src="{{image_url}}{{data.thumb_path}}" *ngIf="data.thumb_path" alt="image" (click)="confirmDialog(data, 'preview_thumb')" />
                                        <h3 matLine>{{data.title}}</h3>
                                        <p matLine>{{data.description}}</p>                                   
                                    </mat-list-item>
                                </ng-container>
                            </ng-container>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>