<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <div class="md-padding">
            <table mat-table class="mat-elevation-z8">
                <tr mat-row matColumnDef="position">
                    <th mat-header-row> DateChange </th>
                    <th mat-header-row> Date </th>
                    <th mat-header-row> Order Id </th>
                    <th mat-header-row> Status </th>
                    <th mat-header-row> Customer Name </th>
                    <th mat-header-row> Items List </th>
                    <th mat-header-row> Amount </th>
                    <th mat-header-row> Delivery Boy Name </th>
                </tr>
                <ng-container *ngFor="let data of result">
                    <tr>
                        <td mat-row class="cursor" (click)="OrderDateChange(data.order_id, 'result');"> <span class="material-icons">
                            book_online
                            </span> </td>
                        <td mat-row> {{data.created_at | date:'dd/MM/yyyy hh:mm a'}} </td>
                        <td mat-row class="cursor" (click)="OrderView(data.order_id, 'result');"> {{data.order_id}} </td>
                        <td mat-row> {{data.status}} </td>
                        <td mat-row> {{data.user}} </td>
                        <td mat-row>
                            <table class="sub-table">
                                <tr *ngFor="let data of data.items">
                                    <td>{{data.name}}</td>
                                </tr>
                            </table>  
                        </td>
                        <td mat-row> {{data.total}} </td>
                        <td mat-row> {{data.delivery_boy}} <br/> {{data.phone}} </td>
                    </tr>
                </ng-container>
            </table>
        </div>
        <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0)" name="sp3" [fullScreen]="false" type="ball-spin-clockwise" color = "#1d94cd"  size="medium" *ngIf="loading"><p style="color: orangered" > Loading... </p></ngx-spinner> -->
        <mat-spinner [diameter]="60"  *ngIf="loading"><p style="color: orangered" > Loading... </p></mat-spinner>

    </mat-sidenav-content>
</mat-sidenav-container>